In [39]:
print("Hello World!")

Hello World!

# Variable and Data Types

In [37]:
x=5
print(x)

5

In [41]:
a=10 
b=2.5
c="bhupendra"
print(a,b,c)

10 2.5 bhupendra

In [43]:
y="We are learning python"
print(y)

We are learning python

In [45]:
%whos

Variable               Type        Data/Info
--------------------------------------------
A                      int         -23
B                      str         56
C                      str         cat
D                      str         cat dog
SI                     float       70092.525
X                      float       -2.4658292
Y                      str         5.23456798
Z                      complex     (-3+4j)
a                      int         10
aman_age               int         -23
b                      float       2.5
c                      str         bhupendra
comp                   complex     (2+3j)
customer_database      list        n=3
dataframe_columns      function    <function dataframe_colum<...>ns at 0x00000217DF655B20>
dataframe_hash         function    <function dataframe_hash at 0x00000217DF654E00>
dtypes_str             function    <function dtypes_str at 0x00000217DF655F80>
get_dataframes         function    <function get_dataframes at 0x00000217DF656200>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x00000217DF6558A0>
is_data_frame          function    <function is_data_frame at 0x00000217DF6556C0>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
num_int                int         10
p                      int         250000
player_score           float       1234.56
r                      float       9.34567
suman_age              int         -56
t                      int         3
x                      int         5
y                      str         We are learning python

In [47]:
# Variable names can only contain letters,alpha-numeric and underscores (_).

apple=3
print(apple)

apple_box=2.3
print(apple_box)

_ = 4
print(_)

_z = 6.3
print(_z)

apple1 = 23
print(apple1)

abc123nmp = 29
print(abc123nmp)

3
2.3
4
6.3
23
29

In [49]:
 # variable name cannot start with a digit and special symbol except underscore.

1_apple = 23
print(1_apple)

SyntaxError: invalid decimal literal (88834031.py, line 3)

In [51]:
1 == 23
print(1)

1

In [53]:
@name = 34
print(@name)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4219854681.py, line 1)

In [55]:
# Variable names are case-sensitive (myVar and myvar are different).

age = 23
Age = 25
AGE = 27

print(age)
print(Age)
print(AGE)

23
25
27

In [57]:
# Avoid using Python keywords (e.g., if, else, for) as variable names.

print = 45
print(print)

TypeError: 'int' object is not callable

In [59]:
int = 34
print(int)

TypeError: 'int' object is not callable

# Data Types in python

In [2]:
a = 2
b = 1.5
c = "Bhupendra"

print(a)
print(type(a))
type(b)

2
<class 'int'>

float

In [4]:
v = 2+3j
print(v)
print(type(v))

(2+3j)
<class 'complex'>

In [6]:
num = [23,24,25,26]
print(num)
print(type(num))

[23, 24, 25, 26]
<class 'list'>

In [8]:
num1 = True
print(type(num1))

<class 'bool'>

In [10]:
nu1 = False
print(type(nu1))

<class 'bool'>

In [12]:
first_name = "John"
last_name = "Doe"
full_name = first_name +" "+ last_name
print(full_name)

John Doe

In [14]:
X = 5
X=10
print(X)

10

# Operators in Python

In [ ]:
In Python programming, Operators in general are used to perform operations on values and variables.
These are standard symbols used for logical and arithmetic operations. 
OPERATORS: These are the special symbols. Eg- + , * , /, etc.
OPERAND: It is the value on which the operator is applied.


Types of Operators in Python
    Arithmetic Operators  (+,-,*,/,%,**,//)
    Comparison Operators (>,<,==,>=,<=,!=)
    Logical Operators (AND, OR, NOT)
    Bitwise Operators (&, |, <<, >>, ~, ^)
    Assignment Operators (=, +=, -=, *=, /=)
    Identity Operators and Membership Operators (is, is not, in, in not)

In [16]:
# Arithmetic Operators  (+,-,*,/,%,**,//)
# Python Arithmetic operators are used to perform basic mathematical operations like addition, subtraction, multiplication and division.


a = 1 
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

4
-2
3
0.3333333333333333
1
1
0

In [18]:
x = 1.5 #float
y = 2.3
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

3.8
-0.7999999999999998
3.4499999999999997
0.6521739130434783
1.5
2.5410306047779248
0.0

In [20]:
h = "hello" #string
i = "world"
print(h+i)

helloworld

In [22]:
h = "hello" 
i = "world"
print(h+" "+i)

hello world

In [24]:
x1 = 2+3j #complex number
y1 = 1+5j
print(x1+y1)
print(x1-y1)
print(x1*y1)
print(x1/y1)
print(x1%y1)

(3+8j)
(1-2j)
(-13+13j)
(0.6538461538461539-0.2692307692307692j)

TypeError: unsupported operand type(s) for %: 'complex' and 'complex'

In [26]:
print(x1**y1)
print(x1//y1)

(0.01172610350141285+0.023738341742618706j)

TypeError: unsupported operand type(s) for //: 'complex' and 'complex'

In [28]:
w1 = -3
w2 = 4
print(w1+w2)

1

In [30]:
str = "hello"
print(str * 5)

hellohellohellohellohello

In [32]:
str1 = "Hello"
str2 = "world"

print(str1* str2)

TypeError: can't multiply sequence by non-int of type 'str'

In [34]:
# Boolean Operator

a = True
a1 = False

print(a,a1)
print(type(a))

True False
<class 'bool'>

In [36]:
# Comparison Operators
#In Python Comparison of Relational operators compares the values. It either returns True or False according to the condition.

a = 23
b = 45

print(a==b) #equal to
print(a>b)  #greater then
print(a<b)  #less then
print(a>=b) #greater then or equal to 
print(a<=b) #less then or equal to
print(a!=b) #not equal to

False
False
True
False
True
True

In [38]:
# Logical Operators 
#Python Logical operators perform Logical AND, Logical OR and Logical NOT operations. 
#It is used to combine conditional statements.

a = True
b = False
print(a and b)
print(a or b)
print(not a)
print(not b)

False
True
False
True

In [40]:
# Bitwise Operators 
#Python Bitwise operators act on bits and perform bit-by-bit operations. These are used to operate on binary numbers.

a = 10
b = 4

print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)

0
14
-11
14
2
40

In [42]:
# Assignment Operators 
# Python Assignment operators are used to assign values to the variables.
# This operator is used to assign the value of the right side of the expression to the left side operand.


a = 10
b = a
print(b)
b += a
print(b)
b -= a
print(b)
b *= a
print(b)
b <<= a
print(b)

10
20
10
100
102400

In [44]:
# Identity Operators 
# In Python, is and is not are the identity operators both are used to check if two values are located on the same part of the memory.
# Two variables that are equal do not imply that they are identical. 

# is          True if the operands are identical 
# is not      True if the operands are not identical 


a = 10
b = 20
c = a

print(a is not b)
print(a is c)

True
True

In [46]:
# Membership Operators 
# In Python, in and not in are the membership operators that are used to test whether a value or variable is in a sequence.

# in            True if value is found in the sequence
# not in        True if value is not found in the sequence


x = 24
y = 20
list = [10, 20, 30, 40, 50]

if (x not in list):
    print("x is NOT present in given list")
else:
    print("x is present in given list")

if (y in list):
    print("y is present in given list")
else:
    print("y is NOT present in given list")

x is NOT present in given list
y is present in given list

In [48]:
# Ternary Operator in Python
# in Python, Ternary operators also known as conditional expressions are operators that evaluate something based on a condition being true or false.
#It was added to Python in version 2.5. 
# It simply allows testing a condition in a single line replacing the multiline if-else making the code compact.

# Syntax :  [on_true] if [expression] else [on_false]


a, b = 10, 20
min = a if a < b else b

print(min)

10

# prectice Question of operators

In [ ]:
# Question 1
""" You have a data containing two record: "Quantity" and "Price per Unit".
How would you use arithmetic operators to calculate the total cost for each item,
also calculate the total cost? product 1, Quantity-5, Price per Unit Rs 250 product 2, 
Quantity 25, Price per Unit Rs 656 product 3 Quantity 34, Price per Unit Rs 274.
"""

In [50]:
# Question 1

product1 = 5*250
product2 = 25*656
product3 = 34*274
print("The price of product1 is: ",product1)
print("The price of product2 is: ",product2)
print("The price of product3 is: ",product3)
print("The total price customer need to pay is: ",product1+product2+product3)

The price of product1 is:  1250
The price of product2 is:  16400
The price of product3 is:  9316
The total price customer need to pay is:  26966

In [ ]:
# Question 2
""" In a finance-based organization, the task is to calculate the simple interest 
given the principal amount, interest rate, and time period. The interest rate is 8%,
the principal amount is Rs 15,00,000, and the time period is 3 years. 
Calculate the simple interest. Also, the threshold amount is Rs 1,20,000.
Please check if the calculated interest is greater or less than the threshold amount.
"""

In [52]:
# Question 2

p = 1500000
r = 8
t = 3
threshold = 120000

SI = (p*r*t)/100
print("The simple interest is: ", SI)

comp = SI > threshold
print(comp)
print("The value of simple intrest is greater then threshold")

The simple interest is:  360000.0
True
The value of simple intrest is greater then threshold

In [54]:
# Question 3

redius = 12
area = 3.14*redius*redius

print("The area of circle is: ",area)

The area of circle is:  452.15999999999997

# Built in Function in Python

In [ ]:
Built-in Function :- Python has several functions that are readily available for use. These functions are 
                     called built-in functions.

In [9]:
# Float Function :- use to convert any number into float number.

num_int = 10
print(type(10))

a = float(num_int)
print(a)
print(type(a))

<class 'int'>
10.0
<class 'float'>

In [11]:
a = "1.34"
print(type(a))

b = float(a)
print(b)
print(type(b))

<class 'str'>
1.34
<class 'float'>

In [13]:
# Int Function :- convert any type of data number into integer type of data.

a = 5.89898
print(type(a))

c = int(a)
print(c)
print(type(c))

<class 'float'>
5
<class 'int'>

In [15]:
A = "22"
print(type(A))

B = int(A)
print(B)
print(type(B))

<class 'str'>
22
<class 'int'>

In [17]:
# String Function :- convert any data type into string type of data.

A = 56
print(type(A))

B = str(A)
print(B)
print(type(B))

C = "2"
print(B + C)

<class 'int'>
56
<class 'str'>
562

In [19]:
X = 5.23456798
print(type(X))

Y = str(X)
print(Y)
print(type(Y))

<class 'float'>
5.23456798
<class 'str'>

In [21]:
# Complex Function :- in complex function you should give 2 values real value and imaginery value.

comp = complex(2,3)
print(comp)
print(type(comp))

(2+3j)
<class 'complex'>

In [23]:
# abs Function :- always gives positive values

A = -23
print(abs(A))

23

In [25]:
X = -2.4658292
print(abs(X))

2.4658292

In [27]:
Z = -3+4j
print(abs(Z))

5.0

In [29]:
# len Function :- give the total length of a veriable and data type.

a = "hello i am Bhupendra Bairwa"
print(a)

hello i am Bhupendra Bairwa

In [31]:
C = "cat"
print(len(C))

3

In [33]:
D = "cat dog"
print(len(D))

7

In [35]:
c = [12,34,56,45,98,73]
print(len(c))

6

In [60]:
# Bin Function :- it is used to convert an integer number to its binary representation as a string prefixed with '0b'.

binary = bin(10)
print(binary)
print(type(binary))

0b1010
<class 'str'>

In [62]:
Z = bin(200)
print(Z)

0b11001000

In [64]:
C = bin(23456798)
print(C)

0b1011001011110110000011110

In [66]:
# Sum Function :- calculate the sum of element in an iterable such as list, tuple and other.

my_list = [2,4,3,7,8,98,96,80]
a = sum(my_list)
print(a)

298

In [68]:
x = ["bhupendra","bairwa"]
print(sum(x))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [70]:
a = [1,2,3,4,5]
starting_value = 10
total = sum(a,starting_value)
print(total)

25

In [72]:
a = [1,2,3,4,5]
starting_value = 2
total = sum(a,starting_value)
print(total)

17

In [74]:
# Eval Function :- evaluates a python expression stored in a string.

x = 10
y = 5
expression = "x+y*2"
print(eval(expression))

20

In [78]:
exp = "5/2 +3.5"
print(eval(exp))
print(type(exp))

6.0
<class 'str'>

In [80]:
exp1 = "334*25+63-98/2"
print(eval(exp1))

8364.0

In [82]:
x = 5
y = 2.5
z = 32
exp = "x+y-z*23/5-9*3"
print(eval(exp))

-166.7

In [84]:
# Help Function :- help function is used to display the documentation of modules, functions,classes,keyword,etc.

help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [86]:
help(int)

Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating-point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is equal to the original int.
 |
 |      The ratio is in lowest terms and has a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  is_integer(self, /)
 |      Returns True. Exists for duck type compatibility with float.is_integer.
 |
 |  to_bytes(self, /, length=1, byteorder='big', *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.  Default
 |        is length 1.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder='big', *, signed=False)
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [88]:
help(float)

Help on class float in module builtins:

class float(object)
 |  float(x=0, /)
 |
 |  Convert a string or number to a floating-point number, if possible.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(self, /)
 |      Return the ceiling as an Integral.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(self, /)
 |      Return the floor as an Integral.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Formats the float according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(self, ndigits=None, /)
 |      Return the Integral closest to x, rounding half toward even.
 |
 |      When an argument is passed, work like built-in round(x, ndigits).
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(self, /)
 |      Return the Integral closest to x between 0 and x.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is exactly equal to the original float.
 |
 |      The ratio is in lowest terms and has a positive denominator.  Raise
 |      OverflowError on infinities and a ValueError on NaNs.
 |
 |      >>> (10.0).as_integer_ratio()
 |      (10, 1)
 |      >>> (0.0).as_integer_ratio()
 |      (0, 1)
 |      >>> (-.25).as_integer_ratio()
 |      (-1, 4)
 |
 |  conjugate(self, /)
 |      Return self, the complex conjugate of any float.
 |
 |  hex(self, /)
 |      Return a hexadecimal representation of a floating-point number.
 |
 |      >>> (-0.1).hex()
 |      '-0x1.999999999999ap-4'
 |      >>> 3.14159.hex()
 |      '0x1.921f9f01b866ep+1'
 |
 |  is_integer(self, /)
 |      Return True if the float is an integer.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __getformat__(typestr, /)
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      This function returns whichever of 'unknown', 'IEEE, big-endian' or 'IEEE,
 |      little-endian' best describes the format of floating-point numbers used by the
 |      C type named by typestr.
 |
 |  fromhex(string, /)
 |      Create a floating-point number from a hexadecimal string.
 |
 |      >>> float.fromhex('0x1.ffffp10')
 |      2047.984375
 |      >>> float.fromhex('-0x1p-1074')
 |      -5e-324
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

In [90]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [92]:
sum??

Signature: sum(iterable, /, start=0)
Docstring:
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.
Type:      builtin_function_or_method

In [96]:
# input Function :- take the value the input value from user.Only take input in string data type.

name = input("enter your name")
print("name entered by user is: ",name)
print(type(name))

enter your name bhupendra

name entered by user is:  bhupendra
<class 'str'>

In [98]:
age  = input("enter your age")
print("age entered by user is: ",age)
print(type(age))

enter your age 21

age entered by user is:  21
<class 'str'>

# Prectice Question of Built in Function

In [ ]:
# Question 1
""" In a game application, the player's score is stored as a floating-point number.
However, for leaderboard display, you need to convert the score to an integer. 
How would you use the int() function to convert the player's score 
from floating-point to integer format? pls solve this with code, player score 1234.56 
"""

In [1]:
# Question 1 

player_score = 1234.56
print("the player score is: ",int(player_score))

the player score is:  1234

In [ ]:
# Question 2 
"""" In a customer relationship management (CRM) system 
for a retail company, you have a database containing customer records. 
How would you use the len() function to find the total number of customers in the database, 
allowing the company to track its customer base? 

customer database = [ 
(1, John Doe, john@example.com'), 
(2, Jane Smith, jane@example.com'), 
(3, 'Alice Johnson', 'alice@example.com'), 
]
"""

In [3]:
# Question 2 

customer_database = [
    (1, 'John Doe', 'john@example.com'),
    (2, 'Jane Smith', 'jane@example.com'),
    (3, 'Alice Johnson', 'alice@example.com')
]
print("the total number of customer in the database: ",len(customer_database))

the total number of customer in the database:  3

In [ ]:
# Question 3
""" You're developing a financial application that calculates simple interest. 
The principal amount is 250000 Rs, the interest rate is 9.3456% and the time period is 3 years. 
Calculate the Simple Interest (9), and the final value should be an integer. """

In [5]:
# Question 3 

p = 250000
r = 9.34567
t = 3
SI = (p*r*t)/100
print("the simple interest is: ",SI)
print("the integer value is: ",int(SI))

the simple interest is:  70092.525
the integer value is:  70092

In [ ]:
# Question 4
""" You're working at a travel company, responsible for managing passenger information. 
Due to a technical glitch in the booking system, some passengers ages were mistakenly recorded as negative values.
However, age cannot be negative, and it's essential to correct this data Inconsistency before further analysis or reporting.. 
which function you will use to correct the ages of all passengers 
in the dataset where negative ages were recorded due to a technical glitch? """

In [7]:
suman_age = -56
aman_age = -23
print(abs(suman_age))
print(abs(aman_age))

56
23

In [ ]:
# Question 5
""" Get two numbers from the user and calculate their sum """

In [102]:
N = int(input("enter the first number"))
M = int(input("enter the second number"))
Sum = N + M
print(Sum)

enter the first number 5
enter the second number 7

12

In [ ]:
# Question 6
""" As part of your role in a data-driven project,
you need to take input from the user for their age, weight, and height. 
However, there's an issue: the user has entered their age as a negative number. 
You need to correct the age of the user, and after correcting the age, 
calculate their Basal Metabolic Rate (BMR) using the Harris-Benedict equation for men. 
Ensure that the final answer of BMR is an integer.
    
Basal Metabolic Rate (BMR): Formula (Harris-Benedict equation for men):
BMR = 88.362 + (13.397 weight in kg) + (4.799 height in cm) - (5.677 age in years) 
"""

In [106]:
age = int(input("enter your age"))
weight = int(input("enter your weight"))
height = float(input("enter your height"))
correct_age = abs(age)
print("the correct age of user is: ",correct_age)
BMR = "88.362 + (13.397 * weight) + (4.799 * height) - (5.677 * age)"
bmr = eval(BMR)
print("the BMR of the patient is: ",int(bmr))

enter your age -45
enter your weight 67
enter your height 5.9

the correct age of user is:  45
the BMR of the patient is:  1269

In [ ]:
# Question 7
""" write a python code for hostel students, ask them to mention thier course name and age. 
for 5 students and calculate thier avg age.
"""

In [108]:
# option-1

course_name = input("enter your course name ")
st_age1 = int(input("enter the age of 1st student: "))
st_age2 = int(input("enter the age of 2st student: "))
st_age3 = int(input("enter the age of 3st student: "))
st_age4 = int(input("enter the age of 4st student: "))
st_age5 = int(input("enter the age of 5st student: "))
average = "(st_age1 + st_age2 + st_age3 + st_age4 + st_age5)/5"
avg = eval(average)
print(avg)

enter your course name  AI
enter the age of 1st student:  21
enter the age of 2st student:  15
enter the age of 3st student:  17
enter the age of 4st student:  18
enter the age of 5st student:  19

18.0

In [110]:
# option-2

students = []
for i in range(5):
    name = input(f"Enter name of student {i+1}: ")
    course = input(f"Enter course of student {i+1}: ")
    age = int(input(f"Enter age of student {i+1}: "))
    students.append({"name": name, "course": course, "age": age})

total_age = 0
for student in students:
    total_age += student["age"]
    
average_age = total_age / len(students)

print("\nStudent Details:")
for student in students:
    print(f"Name: {student['name']}, Course: {student['course']}, Age: {student['age']}")

print(f"\nAverage age of the students: {average_age}")

Enter name of student 1:  arjun
Enter course of student 1:  AI
Enter age of student 1:  20
Enter name of student 2:  ak
Enter course of student 2:  ai
Enter age of student 2:  21
Enter name of student 3:  rk
Enter course of student 3:  cs
Enter age of student 3:  18
Enter name of student 4:  sk
Enter course of student 4:  cs
Enter age of student 4:  19
Enter name of student 5:  Rahul
Enter course of student 5:  AIDS
Enter age of student 5:  21

Student Details:
Name: arjun, Course: AI, Age: 20
Name: ak, Course: ai, Age: 21
Name: rk, Course: cs, Age: 18
Name: sk, Course: cs, Age: 19
Name: Rahul, Course: AIDS, Age: 21

Average age of the students: 19.8

# Control Flow Statement

In [ ]:
Control flow statements are fundamental components of programming languages that allow developers 
to control the order in which instructions are executed in a program. They enable execution of a
block of code multiple times, execute a block of code based on conditions, terminate or 
skip the execution of certain lines of code, etc.

Type
1) Conditional Statement: if, if-else, if-elif-else, and nested if-else
2) Transfer Statement: break, continue,pass
3) Iterative Statement: for, while

In [ ]:
# Conditional Statement :- 
Conditional statements in programming are used to execute certain blocks of 
code based on specified conditions. They are fundamental to decision-making in programs. 
EG :- if, if-else, if-elif-else, and nested if-else


# if Statement :
The if statement is used to execute a block of code if a specified condition is true.

# if-else Statement :
The if-else statement is used to execute one block of code if a specified condition is true, 
and another block of code if the condition is false.

# if-elif -else Statement :
The if-elif-else statement is used to execute one block of code if a specified condition is true, 
another block of code if another condition is true, and a default block of code if none of the conditions are true.

In [5]:
# if Statement 

n = 20
if n < 10:
    print("20 is greater than 10")
print("condition is false")

condition is false

In [ ]:
""" Develop a temperature converter in Python for a cold storage that converts temperatures 
between Celsius and Fahrenheit scales. The program should take a temperature value and
a unit (C or F) as input. If the temperature is less than 15 degrees Celsius, inform the 
user that the temperature is not convenient. If the temperature is between 24 to 28 degrees 
Celsius, inform the user that the temperature is convenient. 
"""

In [9]:
temp = float(input("enter the temperature"))
if temp < 15:
    print("temperature is not convinient")
if 24 <temp< 28:
    print("temperature is convinient")

enter the temperature 25

temperature is convinient

In [13]:
# if-else Statement

age = int(input("enter your age "))
if age > 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

enter your age  21

You are eligible to vote

In [ ]:
""" You are tasked with developing a Python program to manage employee salaries for a company. 
Your program should calculate the net salary of each employee based on their base salary, deductions, 
and bonuses. Additionally, employees who have been with the company for more than 5 years are eligible
for an additional loyalty bonus, of salary. Deductions of tax will be 12% 
Write a Python script that prompts the user to input the following information for each employee: Base salary 
Years of service After calculating the net salary, the program should print a summary for each employee including
their base salary, deductions, bonuses, loyalty bonus (if applicable), and net salary. 
"""

In [17]:
base_salary = float(input("Enter your base salary"))
year_service = int(input("Enter your year of service"))

if year_service > 5:
    total_salary = base_salary + (0.08*base_salary) - (0.12*base_salary)
    print("you will get net salary: ",total_salary)
else:
    net_salary = base_salary - (0.12*base_salary)
    print("your net salary is: ",net_salary)

Enter your base salary 67000
Enter your year of service 6

you will get net salary:  64320.0

In [ ]:
""" Write a Python program that prompts the user to input a city and displays the famous monument of that city. 
Mumbai: Gateway of India 
Kolkata: Victoria Memorial 
Chennai: Marina Beach 
Bangalore: Botanical Garden 
Pune: Shaniwar Wada 
write a Python script to implement this functionality. 
"""

In [6]:
# if-else-if Statement

a = input("enter the city ")
if a == 'Mumbai':
    print("the famous monument is a get way of India")
elif a == "Kolkata":
    print("the famous monument is a Victoria Memorial")
elif a == "Chennai":
    print("the famous monument is a Marina Beach")
elif a == "Bangalore":
    print("the famous monument is a Botnical garden")
elif a == "Pune":
    print("the famous monument is a Victoria Memorial")
else:
    print("No record is found")

enter the city  Chennai

the famous monument is a Marina Beach

# Loops in python

In [9]:
# While Loop

count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [ ]:
""" write a python program to print all the even numbers between 1 and 50 using a while loop """

In [11]:
num = 1 
while num <= 50:
    if num%2==0:
        print(num)
    num += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
# Qestion

"""
You are tasked with validating user input for email addresses. write a Python program that
prompts the user to enter an email address. Use a while loop to iterate through the input 
and check if the email address contains an "@" symbol and a symbol. If the email address 
does not meet these criteria, print "Invalid email address format. 
Please try again." Otherwise, print "Email address validation passed 
"""

In [13]:
email = input("enter your email id ")
valid_email = False
while not valid_email:
    if "@" in email and "." in email:
        print("Your email id is valid")
        valid_email = True
    else:
        print("Your email id is not valid, try again")
        email = input("please enter your mail id")

enter your email id  bhupendrabairwa98@gmail.com

Your email id is valid

In [15]:
# For Loop

numbers = [1,2,3,4,5]
for i in numbers:
    print(i)

1
2
3
4
5

In [19]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [21]:
for i in range(26):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [23]:
for i in range(15,26):
    print(i)

15
16
17
18
19
20
21
22
23
24
25

In [8]:
numbers = [1,2,3,4,5]
for num in numbers:
    print(num * 2)

2
4
6
8
10

In [25]:
for i in range(0,26):
    if i%2 == 0:
        print("The number is even ",i)

The number is even  0
The number is even  2
The number is even  4
The number is even  6
The number is even  8
The number is even  10
The number is even  12
The number is even  14
The number is even  16
The number is even  18
The number is even  20
The number is even  22
The number is even  24

In [27]:
for i in range(0,26):
    if i%2 == 0:
        print("The number is even ",i)
    else:
        print("The number is odd ",i)

The number is even  0
The number is odd  1
The number is even  2
The number is odd  3
The number is even  4
The number is odd  5
The number is even  6
The number is odd  7
The number is even  8
The number is odd  9
The number is even  10
The number is odd  11
The number is even  12
The number is odd  13
The number is even  14
The number is odd  15
The number is even  16
The number is odd  17
The number is even  18
The number is odd  19
The number is even  20
The number is odd  21
The number is even  22
The number is odd  23
The number is even  24
The number is odd  25

In [ ]:
"""  Write a Python program to generate the multiplication table of a given number using for loop. """

In [31]:
N = int(input("enter the number of table "))
print("The multiplication table of ", N)

for i in range(1,11):
    print(f"{N} X {i} = {N * i}")

enter the number of table  5

The multiplication table of  5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [35]:
num_items = int(input("Enter the number of items purchased "))
total_price = 0

for i in range(num_items):
    price = float(input("Enter the price of the item "))
    total_price += price
    i = i+1
    
if total_price >= 100:
    discount = 0.1*total_price
elif 50 <= total_price <100:
    discount = 0.5*total_price
else:
    discount = 0
    
total_bill = total_price - discount
print("subtotal ",total_bill)

Enter the number of items purchased  3
Enter the price of the item  100
Enter the price of the item  54.6
Enter the price of the item  45.6

subtotal  180.17999999999998

# Break and Continuous Statement

In [2]:
# Break Statement :- The break statement terminates the loop immediately when certain condition is met.

In [4]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [ ]:
# Continue Statement :- The continue statement skips the current iteration of the loop and the control flow of 
#                       the program goes to the next iteration.

In [6]:
for i in range(5):
    if i == 3:
        continue
    print(i)
print("I am learning python")

0
1
2
4
I am learning python

# User Defined Function

In [ ]:
A user define function in python is a function created by programmer to perform a specific task or 
a set of tasks. Unlike built in functions in python, which are predefined and provided by the python
language itself, user-define function are defined by the programmer based on their requirements.

These functions allow you to encapsulate a block of code that can be called and executed multiple 
times throughout your program, improving code organization, readability and reusability.

We use def keyword to create user-define function.

Syntax:- def my_function():
            print("")
         my_function() # function calling

In [11]:
# creating and calling a function

def my_function():
    print("Hello I am Bhupendra")
my_function()

Hello I am Bhupendra

In [13]:
# function creation
def details_bills():
    print("The last date of the bill payment is on next week sunday.")
    print("After deadline, you need to pay rs 1000 as a fine")
    print("pay your bill soon")

In [15]:
# function calling
for i in range(3):
    a = input("Enter your name")
    b = int(input("Enter the unit of electricity you have consumed: "))
    bill = b * 10
    print("Total amount of bill you need to pay is: ",bill)
    details_bills()

Enter your name bhupendra
Enter the unit of electricity you have consumed:  500

Total amount of bill you need to pay is:  5000
The last date of the bill payment is on next week sunday.
After deadline, you need to pay rs 1000 as a fine
pay your bill soon

Enter your name ankit
Enter the unit of electricity you have consumed:  650

Total amount of bill you need to pay is:  6500
The last date of the bill payment is on next week sunday.
After deadline, you need to pay rs 1000 as a fine
pay your bill soon

Enter your name nikita
Enter the unit of electricity you have consumed:  2000

Total amount of bill you need to pay is:  20000
The last date of the bill payment is on next week sunday.
After deadline, you need to pay rs 1000 as a fine
pay your bill soon

In [17]:
# Argument in Function

def check_even_odd(number):
    if number%2 == 0:
        print("The number is even")
    else:
        print("The number is odd")

number = int(input("Enter the number"))
check_even_odd(number)

Enter the number 45

The number is odd

In [19]:
def my_name(First_name, Last_name):
    print(First_name + " " + Last_name)
    
First_name = input("Enter your first name: ")
Last_name = input("Enter your last name: ")
my_name(First_name, Last_name)

Enter your first name:  Bhupendra
Enter your last name:  Bairwa

Bhupendra Bairwa

In [ ]:
# Question 

""" write a user-defined function to process the exam scores and calculate the following statistics: 
The average exam score. 
The highest exam score. 
The lowest exam score. 
The number of students who passed the exam (assuming a passing score is 60 or above). 
The number of students who failed the exam. 
exam scores [85, 92, 78, 90, 88, 95, 82, 79, 87, 91] 
"""

In [23]:
def calculate_exam_statistics(exam_scores):
    num_students = len(exam_scores)
    avg_score = sum(exam_scores) / num_students
    highest_score = max(exam_scores)
    lowest_score = min(exam_scores)

    num_passed = 0
    for score in exam_scores:
        if score >= 80:
            num_passed += 1
    num_failed = num_students - num_passed

    return avg_score, highest_score, lowest_score, num_passed, num_failed

exam_scores = [85,92,78,90,88,95,82,79,87,91]
avg_score, highest_score, lowest_score, num_passed, num_failed = calculate_exam_statistics(exam_scores)
print("The Average score is: ",avg_score)
print("The Highest score is: ",highest_score)
print("The Lowest score is: ",lowest_score)
print("The number of students passed is: ",num_passed)
print("The number of students failed is: ",num_failed)

The Average score is:  86.7
The Highest score is:  95
The Lowest score is:  78
The number of students passed is:  8
The number of students failed is:  2

# Strings in python

In [ ]:
In Python, a string is a sequence of characters. For example, "hello" is a string containing
a sequence of characters 'h', 'e', 'l', 'l', and 'o'. 

Strings are created by enclosing characters within single quotes ('...'), double quotes ("..."), 
or triple quotes ('''...''' or """...""").
Single and double quotes are used for single-line strings, while triple quotes are used for multi-line strings.

Example :                                                                                
    single_quoted = 'Hello'
    double_quoted = "World"
    multi_line = '''This is a
    multi-line string.'''

In [ ]:
Indexing :- Indexing in Python refers to accessing elements within a sequence (like strings, lists, or tuples)
            using their position. Python uses zero-based indexing, meaning the first element has an index of 0, 
            the second has an index of 1, and so on. 
Basic Indexing:
Positive Indices: Access elements from the beginning of the sequence

    my_list = [10, 20, 30, 40, 50]
    print(my_list[0])  # Output: 10 (first element)
    print(my_list[2])  # Output: 30 (third element)

Negative Indices: Access elements from the end of the sequence. -1 refers to the last element,
                  -2 to the second-to-last, and so on.

    my_list = [10, 20, 30, 40, 50]
    print(my_list[-1])  # Output: 50 (last element)
    print(my_list[-3])  # Output: 30 (third element from the end)

In [ ]:
Slicing :- Slicing extracts a portion of a sequence using a range of indices. The syntax is sequence[start:stop:step].
           start: The index where the slice begins (inclusive).
           stop: The index where the slice ends (exclusive).
           step: The increment between indices.

           my_list = [10, 20, 30, 40, 50]
           print(my_list[1:4])    # Output: [20, 30, 40] (elements from index 1 up to, but not including, index 4)
           print(my_list[:3])    # Output: [10, 20, 30] (elements from the beginning up to, but not including, index 3)
           print(my_list[2:])    # Output: [30, 40, 50] (elements from index 2 to the end)
           print(my_list[::2])   # Output: [10, 30, 50] (every other element)
           print(my_list[::-1])  # Output: [50, 40, 30, 20, 10] (reverse the list)

In [26]:
a = 'learner'
print(a)
print(type(a))

learner
<class 'str'>

In [28]:
b = "students"
print(b)
print(type(b))

students
<class 'str'>

In [32]:
str = "I am Bhupendra.\nThis is my name."
print(str)

I am Bhupendra.
This is my name.

In [36]:
# Multi-line string

multi = """Data science is an interdisciplinary academic field[1] that uses statistics, 
scientific computing, scientific methods, processing, scientific visualization, 
algorithms and systems to extract or extrapolate knowledge from potentially noisy, structured, or unstructured data.[2]
Data science also integrates domain knowledge from the underlying application domain
(e.g., natural sciences, information technology, and medicine).
[3] Data science is multifaceted and can be described as a science, a research paradigm,
a research method, a discipline, a workflow, and a profession.[4]
Data science is "a concept to unify statistics, data analysis, informatics, and their related methods"
to "understand and analyze actual phenomena" with data.[5] It uses techniques and theories drawn from 
many fields within the context of mathematics, statistics, computer science, information science, 
and domain knowledge.[6] However, data science is different from computer science and information science.
Turing Award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, 
computational, and now data-driven) and asserted that "everything about science is changing because of the impact
of information technology" and the data deluge.[7][8] 
"""

print(multi)

Data science is an interdisciplinary academic field[1] that uses statistics,
scientific computing, scientific methods, processing, scientific visualization,
algorithms and systems to extract or extrapolate knowledge from potentially noisy, structured, or unstructured data.[2]
Data science also integrates domain knowledge from the underlying application domain
(e.g., natural sciences, information technology, and medicine).
[3] Data science is multifaceted and can be described as a science, a research paradigm,
a research method, a discipline, a workflow, and a profession.[4]
Data science is "a concept to unify statistics, data analysis, informatics, and their related methods"
to "understand and analyze actual phenomena" with data.[5] It uses techniques and theories drawn from
many fields within the context of mathematics, statistics, computer science, information science,
and domain knowledge.[6] However, data science is different from computer science and information science.
Turing Award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical,
computational, and now data-driven) and asserted that "everything about science is changing because of the impact
of information technology" and the data deluge.[7][8]

In [40]:
# Indexing of Strings
# positive indexung

a = "Hello Dear Bhupendra."
print(a[0])
print(a[1])
print(a[6])
print(a[5])
print(a[9])

H
e
D

r

In [42]:
#negative indexing

a = "Hello Dear Bhupendra."
print(a[-1])
print(a[-2])
print(a[-6])
print(a[-5])
print(a[-9])

.
a
e
n
h

In [44]:
b = "Data Science is the grawing field."
print(b[-1],b[-2],b[-3])

. d l

In [48]:
# Slicing of Strings
#positive slicing

c = "I am data science student."
print(c[0:5])

I am

In [50]:
c = "I am data science student."
print(c[:])

I am data science student.

In [54]:
# Slicing with jump

d = "I am data science student."
print(d[0:10:3])

Ima

In [56]:
#negative slicing

c = "I am data science student."
print(c[-6:-1])

udent

In [58]:
c = "I am data science student."
print(c[-16:-1])

science student

In [60]:
c = "I am data science student."
print(c[-16:])

science student.

In [62]:
d = "I am data science student."
print(d[-18:-1:2])

asinesuet

# Prectice Question of String

In [ ]:
# Question 1
""" Write a Python function that takes a date string in the format 
'YYYY-00 and returns a tuple containing the year, month, and day as integers.'
Example Input: 2024-05-20 
Expected Output: (2024, 8,28) 
"""

In [67]:
def extract_date_parts(date_string):
    year = int(date_string[0:4])
    month = int(date_string[5:7])
    day = int(date_string[8:])
    return (year,month,day)

date_string = input("Enter the date: ")
extract_date_parts(date_string)

Enter the date:  2025-10-28

(2025, 10, 28)

In [ ]:
# Question 2

Write a python program to reverse the string "honesty is the best policy"

In [69]:
str = "honesty is the best policy"
print(str[::-1])

ycilop tseb eht si ytsenoh

In [ ]:
# Question 3

""" 
Write a Python function that takes a string as input and returns the substring from the 3rd to the 8th character. 
"Date science" 
"hello world, i an learning python" 
"All the best"

"""

In [119]:
def input_string(main_string):
    sub_string = main_string[3:9]
    print(sub_string)
main_string = input("Enter your string: ")
input_string(main_string)

Enter your string:  hello world, i an learning python

lo wor

# String Methods

In [ ]:
Python has a set of built-in methods that you can use on strings.

In [ ]:
Method	                       Description

capitalize()	          Converts the first character to upper case
casefold()	              Converts string into lower case
center()	              Returns a centered string
count()	                  Returns the number of times a specified value occurs in a string
encode()	              Returns an encoded version of the string
endswith()	              Returns true if the string ends with the specified value
expandtabs()	          Sets the tab size of the string
find()	                  Searches the string for a specified value and returns the position of where it was found
format()	              Formats specified values in a string
format_map()	          Formats specified values from a dictionary in a string
index()	                  Searches the string for a specified value and returns the position of where it was found
isalnum()	              Returns True if all characters in the string are alphanumeric
isalpha()	              Returns True if all characters in the string are in the alphabet
isascii()	              Returns True if all characters in the string are ascii characters
isdecimal()	              Returns True if all characters in the string are decimals
isdigit()	              Returns True if all characters in the string are digits
isidentifier()	          Returns True if the string is an identifier
islower()	              Returns True if all characters in the string are lower case
isnumeric()	              Returns True if all characters in the string are numeric
isprintable()	          Returns True if all characters in the string are printable
isspace()	              Returns True if all characters in the string are whitespaces
istitle()	              Returns True if the string follows the rules of a title
isupper()	              Returns True if all characters in the string are upper case
join()	                  Converts the elements of an iterable into a string
ljust()	                  Returns a left justified version of the string
lower()                	  Converts a string into lower case
lstrip()	              Returns a left trim version of the string
maketrans()	              Returns a translation table to be used in translations
partition()	              Returns a tuple where the string is parted into three parts
replace()	              Returns a string where a specified value is replaced with a specified value
rfind()	                  Searches the string for a specified value and returns the last position of where it was found
rindex()	              Searches the string for a specified value and returns the last position of where it was found
rjust()      	          Returns a right justified version of the string
rpartition()	          Returns a tuple where the string is parted into three parts
rsplit()	              Splits the string at the specified separator, and returns a list
rstrip()	              Returns a right trim version of the string
split()	                  Splits the string at the specified separator, and returns a list
splitlines()	          Splits the string at line breaks and returns a list
startswith()	          Returns true if the string starts with the specified value
strip()	                  Returns a trimmed version of the string
swapcase()	              Swaps cases, lower case becomes upper case and vice versa
title()	                  Converts the first character of each word to upper case
translate()	              Returns a translated string
upper()	                  Converts a string into upper case
zfill()	                  Fills the string with a specified number of 0 values at the beginning

In [72]:
# Length Method

s = "Bhupendra"
print(len(s))

9

In [74]:
s = "Bhupendra Bairwa"
print(len(s))

16

In [76]:
a = ""
print(len(a))

0

In [78]:
s = "Bhupendra \nBairwa"
print(s)
print(len(s))

Bhupendra
Bairwa
17

In [82]:
ss = """hello
world"""
print(ss)
print(len(ss))

hello
world
11

In [84]:
# Upper Method

s = "this is the python class"
print(s.upper())

THIS IS THE PYTHON CLASS

In [86]:
s = "this is the Python class"
print(s.upper())

THIS IS THE PYTHON CLASS

In [88]:
s = "this is the Python class 12345"
print(s.upper())

THIS IS THE PYTHON CLASS 12345

In [90]:
# Lower Method

a = "I AM A STUDENT"
print(a.lower())

i am a student

In [92]:
a = "I AM A sTUdENT"
print(a.lower())

i am a student

In [94]:
a = "I AM A sTUdENT 12345"
print(a.lower())

i am a student 12345

In [96]:
# String Concatenation

a = "hello"
b = "world"
print(a + " " + b)

hello world

In [98]:
a = "data"
print(a*5)

datadatadatadatadata

In [100]:
a = "data"
print((a+" ")*5)

data data data data data

In [102]:
# Replace Method

text = "hello world, I am learning Python"
rep = text.replace("Python","Data-Science")
print(rep)

hello world, I am learning Data-Science

In [104]:
# Index Method

a = "i want to learn"
print(a.index("to"))

7

In [106]:
# Find Method

a = "Python is great"
b = a.find("g")
print(b)

10

In [ ]:
# Question

"""
Write a Python program that accomplishes the following tasks: 
1) Concatenate the strings "hello" and "world". 
2) Find the length of the resulting string from the concatenation. 
3) Extract the substring "world" from the concatenated string. 
4) Reverse the substring obtained in the previous step. 
5) Convert the reversed substring to uppercase. 
6) Replace the letter 'L' with 'x' in the reversed and uppercase substring. 
"""

In [111]:
concatenated_string = "hello" + "world"
length = len(concatenated_string)
substring = concatenated_string[5:]
reverse = substring[::-1]
upper = reverse.upper()
replace = upper.replace("L","X")

print(concatenated_string)
print(length)
print(substring)
print(reverse)
print(upper)
print(replace)

helloworld
10
world
dlrow
DLROW
DXROW

# List in Python

In [ ]:
A list in Python is a versatile, ordered, and mutable data structure used to store collections of items. 
Lists are defined by enclosing comma-separated items within square brackets [].

Key Characteristics:
1) Ordered: Lists maintain the order in which items are added.
2) Mutable: Items within a list can be changed, added, or removed after the list is created.
3) Heterogeneous: Lists can store items of different data types, including numbers, strings, booleans, 
                  and even other lists (nested lists).
4) Dynamic: Lists can grow or shrink in size as needed.
5) Indexed: Items in a list can be accessed using their index, starting from 0 for the first item.
            Negative indices can be used to access elements from the end of the list, with -1 referring to the last item.
6) Allow Duplicates: Lists can contain duplicate items.

In [ ]:
Creating Lists:
    Empty List: my_list = []
    List with items: my_list = [1, "hello", 3.14, True]
    List of lists: my_list = [[1, 2], [3, 4]]

Accessing Items:
    By index: my_list[0] (accesses the first item)
    By negative index: my_list[-1] (accesses the last item)
    Slicing: my_list[1:3] (accesses items from index 1 up to, but not including, index 3)

In [2]:
# Creating a list

my_list = ["a","b","c"]
print(my_list)
print(type(my_list))

['a', 'b', 'c']
<class 'list'>

In [87]:
# Properties of list

fruits = ["Mango","Orange","Cherry"]
print(fruits[0])  #ordering

Mango

In [10]:
mixed_list = [1,"hello",3.14,[1,2,3]]    #hetrogenous
print(mixed_list)
print(mixed_list[2])

[1, 'hello', 3.14, [1, 2, 3]]
3.14

In [12]:
lis1 = ["apple","mango"]
lis2 = [2.3,2.5]
lis3 = [True,False]
print(lis1)

['apple', 'mango']

In [14]:
animals = ["Cat","Dog","Monkey","Lion"]  #indexing
print(animals[0])
print(animals[-2])

Cat
Monkey

In [22]:
numbers = [10,11,12,13,14,15,16]    #basic slicing
print(numbers[0:4])

print(numbers[:4])         #omiting slicing
print(numbers[:])

print(numbers[-5:])         #negative indexing slicing
print(numbers[-5:-1])

[10, 11, 12, 13]
[10, 11, 12, 13]
[10, 11, 12, 13, 14, 15, 16]
[12, 13, 14, 15, 16]
[12, 13, 14, 15]

In [26]:
# indexing with steps(slicing)

numbers = [10,11,12,13,14,15,16] 
print(numbers[::2])
print(numbers[::3])

[10, 12, 14, 16]
[10, 13, 16]

In [85]:
# length Method

a = [2,4,1,3,5,6,66,54,45,34,354,343,5,"a","b","c"]
print(a)
print(len(a))

[2, 4, 1, 3, 5, 6, 66, 54, 45, 34, 354, 343, 5, 'a', 'b', 'c']
16

In [89]:
# Mutability Property of list

my_list = [1,2,3,4,5,6]
my_list[2] = 10            #changing list items
print(my_list)

[1, 2, 10, 4, 5, 6]

In [91]:
my_list = [1,2,3,4,5,6]
my_list[4] = "hello"           
print(my_list)

[1, 2, 3, 4, 'hello', 6]

In [93]:
# Change a range of items value

a = [11,12,13,14,15,16,17,18,19,20]
a[2:4] = ["books","pen","paper"]
print(a)

[11, 12, 'books', 'pen', 'paper', 15, 16, 17, 18, 19, 20]

In [95]:
# Adding an item in list

this_list = ["apple","banana","cherry"]
this_list.append("orange")
print(this_list)

['apple', 'banana', 'cherry', 'orange']

In [97]:
a = [11,12,13,14,15,16,17,18,19,20]
a.append(-21)
print(a)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, -21]

In [99]:
# Removing an items from list

a = [11,12,13,14,15,16,17,18,19,20]
a.remove(17)
print(a)

[11, 12, 13, 14, 15, 16, 18, 19, 20]

In [103]:
# Join the list

a = [1,2,3]
b = [11,12,13]
c =["hello","world"]
print(a + b + c)

[1, 2, 3, 11, 12, 13, 'hello', 'world']

In [109]:
# Check is a item present in list (membership method)

a = [25,23,1,21,"hello","python",898,343,4224,90]
25 in a

True

In [111]:
a = [25,23,1,21,"hello","python",898,343,4224,90]
3 in a

False

In [113]:
# Reversing a list

a = [12,34,353,64,65,910,24,351]
a.reverse()
print(a)

[351, 24, 910, 65, 64, 353, 34, 12]

# Prectice Questions

In [ ]:
# Question 1

""" Given the list scores [55, 89, 76, 65, 93, 50, 72],
write a Python expression ex to create a new list that contains only the scores that are above 70. 
"""

In [29]:
scores = [55,89,76,65,93,50,72]
high_score = []
for score in scores:
    if score > 70:
        high_score.append(score)
    else:
        pass
print(high_score)

[89, 76, 93, 72]

In [ ]:
# Question 2

""" Given the list data [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
write a Python expression to get the sum of the first five elements and another expression to reverse the entire list. 
"""

In [35]:
data = [1,2,3,4,5,6,7,8,9,10]
sum_five = sum(data[:5])
print("The sum of first five items is: ",sum_five)

reverse = data[::-1]
print("The reverse list is: ",reverse)

The sum of first five items is:  15
The reverse list is:  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Question 3

""" 
Given the list numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], write Python expressionς το 
Create a new list with the first half and the second half swapped. 
Print the sum of the last three elements. 
Input numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
output 
(6, 7, 8, 9, 10, 1, 2, 3, 4, 5] 
 27 
"""

In [83]:
numbers = [1,2,3,4,5,6,7,8,9,10]
first_half = []
second_half = [] 

for i in range(1,6):
    first_half.append(i)

for j in range(6,11):
    second_half.append(j)

swap = second_half + first_half
print("The swaping of half items in numbers is: ",swap)

sum_last_three = sum(numbers[-3:])
print("The sum of last value of three of the list numbers is: ",sum_last_three)

sum_last = sum(swap[-4:])
print("The sum of last value of three of the list swap is: ",sum_last)

The swaping of half items in numbers is:  [6, 7, 8, 9, 10, 1, 2, 3, 4, 5]
The sum of last value of three of the list numbers is:  27
The sum of last value of three of the list swap is:  14

In [ ]:
# Question 4

""" Task: Data Cleaning 
You have a list responses containing responses from a survey. However, some responses 
are recorded as empty strings due to data entry errors. Your task is to remove these empty responses from the list. 

Write Python code to remove all empty responses from the responses list 
responses =["Yes","","No","", "Maybe","","","Yes", "No",""] 
"""

In [2]:
responses =["Yes","","No","", "Maybe","","","Yes", "No",""] 
clean = []
for response in responses:
    if response != "":
        clean.append(response)
    else:
        pass
print(clean)

['Yes', 'No', 'Maybe', 'Yes', 'No']

In [ ]:
# Question 5

""" Data Analysis Scenario:
You have the lists containing exan scores
of students from two different classes.
The lists are classi scores and class2 scores.
You need to analyze the performance
of the classes by calculating the average score for each class.
Write Python code to calculate the average score for each class.
classi scores [85, 90, 88, 92, 78]
class2 scores [75, 82, 80, 85, 79]
"""

In [4]:
class1_scores = [85,90,88,92,78]
class2_scores = [75,82,80,85,79]

class1_avg = sum(class1_scores)/len(class1_scores)
class2_avg = sum(class2_scores)/len(class2_scores)

print("The average score of class 1 is: ",class1_avg)
print("The average score of class 2 is: ",class2_avg)

The average score of class 1 is:  86.6
The average score of class 2 is:  80.2

# Tuples in python

In [ ]:
A tuple in Python is an immutable ordered collection of elements. Tuples are similar to lists, but unlike lists, 
they cannot be changed after their creation (i.e., they are immutable). Tuples can hold elements of different data types.
The main characteristics of tuples are being ordered , heterogeneous and immutable.

Tuples in Python are ordered, immutable collections of items. They are similar to lists, but with key differences:

Key Characteristics:
1) Ordered: Elements in a tuple maintain their order.
2) Immutable: Once created, a tuple cannot be changed (elements cannot be added, removed, or modified).
3) Defined with Parentheses: Tuples are typically created using parentheses (), with elements separated by commas.
                             However, parentheses are optional, and tuples can also be created by simply separating values with commas.
Example: my_tuple = (1, 2, "hello") or my_tuple = 1, 2, "hello"
4) Heterogeneous: Tuples can contain elements of different data types.
5) Indexing: Elements can be accessed using zero-based indexing (e.g., my_tuple[0] accesses the first element).
6) Slicing: Tuples support slicing to access a range of elements (e.g., my_tuple[1:3] accesses the second and third elements).

In [ ]:
Creating Tuples:
.) Empty Tuple: empty_tuple = ()
.) Single-Element Tuple: single_tuple = (5,) (note the trailing comma). The comma is crucial for Python to recognize 
                         this as a tuple, not just a parenthesized value.
.) Multiple Elements: multi_tuple = (1, "apple", 3.14)
.) Tuple Packing: tuple_packing = (1, 2, 3)


Tuple Operations:
1) Concatenation: Tuples can be combined using the + operator, creating a new tuple.
Example: new_tuple = (1, 2) + (3, 4)
2) Repetition: Tuples can be repeated using the * operator.
Example: repeated_tuple = (1, 2) * 3
3) Membership: The in operator can be used to check if an item exists in a tuple.
Example: 1 in (1, 2, 3) returns True.

In [1]:
a = (10,20,30)
print(a)
print(type(a))

(10, 20, 30)
<class 'tuple'>

In [5]:
# empty tuple

tup = ()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [7]:
# single element

b = (5)
print(b)
print(type(b))

5
<class 'int'>

In [9]:
b = (5,)
print(b)
print(type(b))

(5,)
<class 'tuple'>

In [11]:
# mixed data type tuple

v = (1,2.3,"hello","world",True)
print(v)
print(type(v))

(1, 2.3, 'hello', 'world', True)
<class 'tuple'>

In [13]:
# nested tuple

a = ("mouse",2.3,(21,12,49),"keyboard")
print(a)
print(type(a))

('mouse', 2.3, (21, 12, 49), 'keyboard')
<class 'tuple'>

In [15]:
num = ([12,14,16],[10,20],[14,17,23])
print(num)
print(type(num))

([12, 14, 16], [10, 20], [14, 17, 23])
<class 'tuple'>

In [17]:
# Tuple Constructor

empty = tuple()
print(empty)
print(type(empty))

()
<class 'tuple'>

In [21]:
# converting list into tuple

list = [1,2,3,4]
print(list)
print(type(list))

number = tuple(list)
print(number)
print(type(number))

[1, 2, 3, 4]
<class 'list'>
(1, 2, 3, 4)
<class 'tuple'>

In [27]:
# converting string into tuple

string = "hello"
print(string)
print(type(string))

tupel1 = tuple(string)
print(tupel1)
print(type(tupel1))

hello
<class 'str'>
('h', 'e', 'l', 'l', 'o')
<class 'tuple'>

In [29]:
# converting a dictionary into tuple

dictionary = {'a':1,'b':2,'c':3}
print(dictionary)
print(type(dictionary))

tup = tuple(dictionary)
print(tup)
print(type(tup))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
('a', 'b', 'c')
<class 'tuple'>

In [33]:
# converting a set into tuple

set1 = {1,2,3,4}
print(set1)
print(type(set1))

tup1 = tuple(set1)
print(tup1)
print(type(tup1))

{1, 2, 3, 4}
<class 'set'>
(1, 2, 3, 4)
<class 'tuple'>

In [37]:
# Positive Indexing in Tuple

my_tuple = ("mango","apple","banana","date")
print(my_tuple[0])
print(my_tuple[2])

mango
banana

In [39]:
# Negative indexing in tuple

my_tuple = ("mango","apple","banana","date")
print(my_tuple[-1])
print(my_tuple[-3])

date
apple

In [41]:
# Slicing in Tuple

my_tuple = ("mango","apple","banana","date")
print(my_tuple[0:])
print(my_tuple[:2])

('mango', 'apple', 'banana', 'date')
('mango', 'apple')

In [47]:
my_tup = ('a','b','c','d','e','f')
print(my_tup[1:4])
print(my_tup[:4])
print(my_tup[1:])

('b', 'c', 'd')
('a', 'b', 'c', 'd')
('b', 'c', 'd', 'e', 'f')

In [49]:
# steps in slicing in tuple

my_tup = ('a','b','c','d','e','f')
print(my_tup[::2])

('a', 'c', 'e')

In [53]:
# Slicing with negative indexing

tup2 = ("apple","banana",12,34,5.6,False)
print(tup2[-2:])
print(tup2[:-3])

(5.6, False)
('apple', 'banana', 12)

In [57]:
# Reversing the Tuple

a = (45,81,223,45,65,79,3,94,74)
print(a[::-1])

(74, 94, 3, 79, 65, 45, 223, 81, 45)

In [61]:
T = (1,2,3,4,5,6,7,8,9)
print(T[::-1])
print(T[::])
print(T[3:])
print(T[:4])

(9, 8, 7, 6, 5, 4, 3, 2, 1)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(4, 5, 6, 7, 8, 9)
(1, 2, 3, 4)

In [63]:
# Duplicates values are allow in tuple

a = (12,14,15,12,14,53,14,15,89)
print(a)

(12, 14, 15, 12, 14, 53, 14, 15, 89)

In [ ]:
Method's in Tuple

In [68]:
# Count Method

a = (12,14,15,12,14,53,14,15,89)
print(a.count(14))

3

In [72]:
b = ("hello","akash","rahul","ayush","akash","akash")
print(b.count("akash"))

3

In [76]:
# Index Method

b = ("hello","akash","rahul","ayush","akash","akash")
print(b.index("akash"))
print(b.index("rahul"))

1
2

In [23]:
# Delete keyword

x = (12,2,2.4,5,7,8,9)
del x

In [ ]:
# Immutable: Once created, a tuple cannot be changed (elements cannot be added, removed, or modified).

# Converting Tuple into List for adding , removing and modified an tuple items.

In [1]:
# Converting Tuple into List 

x = ("data","python","science","rahul")
print(x)
print(type(x))

y = list(x)
print(y)
print(type(y))

('data', 'python', 'science', 'rahul')
<class 'tuple'>
['data', 'python', 'science', 'rahul']
<class 'list'>

In [3]:
my_tuple = (10, 20, 30, 40, 50)

# Converting tuple into list
my_list = list(my_tuple)

# Print the result
print("Original Tuple:", my_tuple)
print("Converted List:", my_list)

Original Tuple: (10, 20, 30, 40, 50)
Converted List: [10, 20, 30, 40, 50]

In [13]:
# Add Items

my_tuple = (10, 20, 30, 40, 50)
 # my_tuple.append(60)
my_list = list(my_tuple)
print(my_list)
print(type(my_list))

my_list.append(60)
print("The new list is: ",my_list)

new_tuple = tuple(my_list)
print("The new tuple is: ",new_tuple)

[10, 20, 30, 40, 50]
<class 'list'>
The new list is:  [10, 20, 30, 40, 50, 60]
The new tuple is:  (10, 20, 30, 40, 50, 60)

In [15]:
# Add tuple to a tuple

tup1 = (1,2,3,5,67,"rahul","a")
tup2 = (5,63,"bairwa","b")
tup1 += tup2
print(tup1)

(1, 2, 3, 5, 67, 'rahul', 'a', 5, 63, 'bairwa', 'b')

In [19]:
# Remove Items into Tuple

fruits = ("apple","banana","cherry","date","mango")
fruit_list = list(fruits)
print(fruit_list)

fruit_list.remove("date")
print(fruit_list)

new_fruits = tuple(fruit_list)
print(new_fruits)

['apple', 'banana', 'cherry', 'date', 'mango']
['apple', 'banana', 'cherry', 'mango']
('apple', 'banana', 'cherry', 'mango')

In [21]:
# Changing the item in Tuple

fruits = ("apple","banana","cherry","date","mango")
fruit_list = list(fruits)
print(fruit_list)

fruit_list[3] = "blueberry"
print(fruit_list)

new_fruits = tuple(fruit_list)
print(new_fruits)

['apple', 'banana', 'cherry', 'date', 'mango']
['apple', 'banana', 'cherry', 'blueberry', 'mango']
('apple', 'banana', 'cherry', 'blueberry', 'mango')

In [25]:
# Toop in a Tuple

thistuple = ("a","b","c")
for x in thistuple:
    print(x)

a
b
c

In [27]:
# Join two Tuples

tup1 = ('a','b','c')
tup2 = (1,2,3)
tup3 = tup1 + tup2
print(tup3)

('a', 'b', 'c', 1, 2, 3)

In [29]:
# Multiply Tuples

fruits = ("apple","banana","cherry","date","mango")
mytup = fruits *2
print(mytup)

('apple', 'banana', 'cherry', 'date', 'mango', 'apple', 'banana', 'cherry', 'date', 'mango')

In [31]:
fruits = ("apple","banana","cherry","date","mango")
mytup = fruits *3
print(mytup)

('apple', 'banana', 'cherry', 'date', 'mango', 'apple', 'banana', 'cherry', 'date', 'mango', 'apple', 'banana', 'cherry', 'date', 'mango')

# Sets in Python

In [ ]:
In Python, a set is a built-in data type used to store a collection of unique elements. Sets are unordered, meaning the elements 
do not have a specific index, and they are mutable, allowing you to add or remove elements after creation.

In python, a set is an unordered collection of unique elements. This means that within a set, no element can be duplicated
We use curly bracket {} to create a set in python.

Key characteristics of sets:
1) Uniqueness: Sets only store unique elements. If you try to add a duplicate, it will be ignored.
2) Unordered: The elements in a set do not have a specific order.
3) Mutable: You can add or remove elements from a set after it's created, but individual elements cannot be changed directly.
4) Mathematical operations: Sets support mathematical operations like union, intersection, and difference.
5) Hashing: Sets internally use hashing, which makes them efficient for searching, inserting, and deleting elements.
            Only hashable objects(objects with fixed hash value) can be added to set. This means that sets cannot contain 
            mutable types like lists or dictionaries.
6) Iterable: Sets can be iterated over, meaning you can loop through the elements in set.

In [ ]:
Common set operations:
1) Adding elements: Use the add() method for single elements or update() for multiple elements.
2) Removing elements: Use remove() to remove a specific element (raises an error if not found) or discard() (does not raise an error if not found).
3) Union: Combines elements from two sets (| operator or union() method).
4) Intersection: Returns common elements between two sets (& operator or intersection() method).
5) Difference: Returns elements present in the first set but not in the second (- operator or difference() method).

Use cases for sets:
Removing duplicate elements from a list, Checking for membership efficiently, and Performing mathematical set operations.

In [1]:
# creating Set's

my_var = {1,2,3,4}
print(my_var)
print(type(my_var))

{1, 2, 3, 4}
<class 'set'>

In [5]:
# creating set using set() method

set1 = set([10,20,30,40])
print(set1)
print(type(set1))

{40, 10, 20, 30}
<class 'set'>

In [7]:
# Empty set

empty = {}
print(empty)
print(type(empty))

{}
<class 'dict'>

In [9]:
xyz = set()
print(xyz)
print(type(xyz))

set()
<class 'set'>

In [11]:
# Properties of Set
# 1) Unordered

my_set = {3,1,2,4}
print(my_set)

{1, 2, 3, 4}

In [13]:
# 2) No indexing/slicing

animels = {"cat","dog","monkey"}
print(animels[0])

TypeError: 'set' object is not subscriptable

In [15]:
animels = {"cat","dog","monkey"}
print(animels[0:2])

TypeError: 'set' object is not subscriptable

In [17]:
# 3) Unique Elements

my_set2 = {8,12,10,14,15,12,17,18,14,15,12,89}
print(my_set2)
print(len(my_set2))

{8, 10, 12, 14, 15, 17, 18, 89}
8

In [19]:
# 4) Iterable

my_set3 = {14,25,37,41,23}
for element in my_set3:
    print(element)

25
37
23
41
14

In [21]:
# 5) Hashable Elements

my_set4 = {1,2,3,"hii",43.20,(10,20)}
print(my_set4)

{1, 2, 3, 'hii', 43.2, (10, 20)}

In [25]:
my_set5 = {1,2,3,"hii",43.20,[10,20]}
print(my_set5)

TypeError: unhashable type: 'list'

In [29]:
my_set6 = {1,2,3,"hii",43.20,{'a':10,'b':20}}
print(my_set6)

TypeError: unhashable type: 'dict'

In [31]:
# Set consider True and 1 as same value, or consider False and 0 as same value

a = {"animel","hii",1,3,4,5,2,7,True}
print(a)

{1, 2, 3, 4, 'hii', 5, 7, 'animel'}

In [37]:
b = {"animel","hii",1,3,4,5,2,7,0,True,False}
print(b)

{0, 1, 2, 3, 'hii', 4, 5, 7, 'animel'}

In [39]:
c = {"animel","hii",3,4,5,2,7,True}
print(c)

{True, 2, 3, 'hii', 5, 4, 7, 'animel'}

In [41]:
d = {"animel","hii",1,3,4,5,2,7,True,False}
print(d)

{False, 1, 2, 3, 'hii', 4, 5, 7, 'animel'}

In [43]:
# Nested is not a property of the set

e = {{10,20},{34,56}}
print(e)

TypeError: unhashable type: 'set'

In [47]:
# check if item is present in the set or not

a = {"data","bhupendra","python"}
print("bhupendra" in a)

b = {"data","bhupendra","python"}
print("hello" in b)

True
False

In [49]:
# Length Method

x = {1,2,3,45,6.7,78,"hi","i","boy"}
print(x)
print(len(x))

{1, 2, 3, 6.7, 45, 78, 'i', 'hi', 'boy'}
9

In [51]:
# Adding Items in Set 
# Once a set is created, you cannot change the item but you can add the new item in set.

a = {1,4,23,"even","23"}
a.add(78)
print(a)

{'even', 1, '23', 4, 23, 78}

In [53]:
# Update Method

x = {"data","python","science"}
y = {10,20,30,40,50}
x.update(y)
print(x)

{40, 10, 'data', 50, 'python', 20, 'science', 30}

In [55]:
# Remove Items from set
# Remove Method

n = {17,14,10,"code","hello",7.89,00.1,98,79,"a","b"}
n.remove(14)
print(n)

{0.1, 98, 7.89, 10, 79, 17, 'hello', 'a', 'b', 'code'}

In [57]:
n = {17,14,10,"code","hello",7.89,00.1,98,79,"a","b"}
n.remove("code")
print(n)

{0.1, 98, 7.89, 10, 14, 79, 17, 'hello', 'a', 'b'}

In [65]:
# Pop Method :- rendamly remove a item from set

x = {17,14,10,"code","hello",7.89,00.1,98,79,"a","b"}
print(x)
c = x.pop()
print(c)
print(x)

{0.1, 98, 7.89, 10, 14, 79, 17, 'hello', 'a', 'b', 'code'}
0.1
{98, 7.89, 10, 14, 79, 17, 'hello', 'a', 'b', 'code'}

In [67]:
# Clear Method :- Clear all the value from set

x = {17,14,10,"code","hello",7.89,00.1,98,79,"a","b"}
x.clear()
print(x)

set()

In [69]:
# Delete Method :- Delete the whole set

x = {17,14,10,"code","hello",7.89,00.1,98,79,"a","b"}
del x
print(x)

NameError: name 'x' is not defined

In [71]:
# Join Two Sets

x = {'a','b','c'}
y = {1,2,3}
z = x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

In [73]:
# Max() and Min() method

set1 = {1,23,46,67,98,999,79798,9872979,26,8932,0,92893}
print("The maximum value in this set is")
print(max(set1))

print("The minimum value in this set is")
print(min(set1))

The maximum value in this set is
9872979
The minimum value in this set is
0

In [ ]:
#SET OPERATION

In [77]:
# UNION METHOD

set1 = {1,2,3}
set2 = {4,5,6}
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6}

In [79]:
# INTERSECTION METHOD

set1 = {52,53,78,98}
set2 = {23,53,79,99}
inter = set1.intersection(set2)
print(inter)

{53}

In [91]:
# DIFFERENCE METHOD

set1 = {52,53,78,98}
set2 = {23,53,79,99}
diff = set1.difference(set2)
diff2 = set2.difference(set1)
print(diff)
print(diff2)

{98, 52, 78}
{99, 79, 23}

In [107]:
# SUBSET METHOD

set1 = {1,2,3,4,5,6,7,8,9}
set2 = {2,4,6,8}
sub = set2.issubset(set1)
print(sub)

True

In [109]:
set1 = {1,2,3,4,5,6,7,8,9}
set2 = {2,4,6,8}
sub = set1.issubset(set2)
print(sub)

False

In [113]:
# SUPERSET METHOD

set1 = {1,2,3,4,5,6,7,8,9}
set2 = {2,4,6,8}
sub = set1.issuperset(set2)
print(sub)

True

In [115]:
set1 = {1,2,3,4,5,6,7,8,9}
set2 = {2,4,6,8}
sub = set2.issuperset(set1)
print(sub)

False

In [117]:
# Define two set
student_pass_maths = {101,102,103,104,105}
student_pass_science = {103,104,105,106,107}

both_pass = student_pass_maths.intersection(student_pass_science)
print("The students id's of those student who have pass in both math and science: ",both_pass)
print("Total students pass in both maths and science: ",len(both_pass))

only_maths = student_pass_maths.difference(student_pass_science)
print("Those students only pass in maths: ",only_maths)

only_science = student_pass_science.difference(student_pass_maths)
print("Those students only pass in science: ",only_science)

sub = student_pass_maths.issubset(student_pass_science)
print("is student pass in maths is a subset of student pass in science: ",sub)

superset = student_pass_maths.issuperset(student_pass_science)
print("is student pass in maths is a superset of student pass in science: ",superset)

The students id's of those student who have pass in both math and science:  {104, 105, 103}
Total students pass in both maths and science:  3
Those students only pass in maths:  {101, 102}
Those students only pass in science:  {106, 107}
is student pass in maths is a subset of student pass in science:  False
is student pass in maths is a superset of student pass in science:  False

# Dictionary in Python

In [ ]:
A dictionary in Python is a versatile data structure that stores data in key-value pairs. It allows you to quickly 
access values using their associated keys. Here's a breakdown of how to work with dictionaries:

Creating a Dictionary:
. You can create a dictionary using curly braces {} or the dict() constructor.
. Inside the curly braces, key-value pairs are separated by commas. Each pair is written as key: value.
. Keys must be immutable (e.g., strings, numbers, tuples), and they should be unique within the dictionary.

    # Using curly braces
    my_dict = {"name": "Alice", "age": 30, "city": "New York"}

    # Using dict() constructor
    my_dict = dict(name="Alice", age=30, city="New York")

In [ ]:
Accessing Values:
. You can access values using their keys within square brackets [].
. If a key is not found, it will raise a KeyError.
. To avoid KeyError, you can use the get() method, which returns None if the key is not found or a default value you specify.

print(my_dict["name"])  # Output: Alice
print(my_dict.get("age"))  # Output: 30
print(my_dict.get("country", "Unknown"))  # Output: Unknown

Use Cases:
1. Storing and managing data with labels (e.g., user profiles, product information).
2. Counting frequencies of items (e.g., word counts in a text).
3. Implementing lookup tables and mappings.
4. Representing complex data structures.
5. Flexible key types: While keys in dictionaries must be unique, they can be of variable data types, includes strings, floats, and
                        tuples(if they contain only hashable objects).

In [ ]:
Dictionary Methods:
1. keys(): Returns a view object that displays a list of all the keys in the dictionary.
2. values(): Returns a view object that displays a list of all the values in the dictionary.
3. items(): Returns a view object that displays a list of a dictionary's key-value tuple pairs.
4. update(): Updates the dictionary with the key-value pairs from another dictionary or iterable.
5. pop(): Removes and returns the value associated with the specified key.
6. clear(): Removes all items from the dictionary.

In [120]:
# creating dictionary

person = {'name':'Bhupendra','age':30,'city':'jaipur'}
print(person)
print(type(person))

{'name': 'Bhupendra', 'age': 30, 'city': 'jaipur'}
<class 'dict'>

In [126]:
# mixed dictionary

mixed_dict = {'name':'Bob','age':40,'student':True,
             'courses':['datascience','python','machine learning'],
             'address':{'street':'123 main st','city':'jaipur','zipcode':12345}
             }

print(mixed_dict)
print(type(mixed_dict))

{'name': 'Bob', 'age': 40, 'student': True, 'courses': ['datascience', 'python', 'machine learning'], 'address': {'street': '123 main st', 'city': 'jaipur', 'zipcode': 12345}}
<class 'dict'>

In [128]:
# empty dictionary

empty1 = {}
print(empty1)
print(type(empty1))

{}
<class 'dict'>

In [130]:
# Using dict() constructor

person = dict(name='rahul',age=30,city='jaipur')
print(person)
print(type(person))

{'name': 'rahul', 'age': 30, 'city': 'jaipur'}
<class 'dict'>

In [132]:
# Dictionary Comprehension

square = {x: x*x for x in range(6)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Characterstics of Dictionary

In [134]:
# 1) Accessing values using keys

person = dict(name='rahul',age=30,city='jaipur')
print(person)
print(person['name'])

{'name': 'rahul', 'age': 30, 'city': 'jaipur'}
rahul

In [136]:
person = {'name':'Bhupendra','age':30,'city':'jaipur'}
print(person)
print(person['age'])

{'name': 'Bhupendra', 'age': 30, 'city': 'jaipur'}
30

In [138]:
# 2) Ordered key value

person = {'name':'Bhupendra','age':30,'city':'jaipur'}
print(person)

{'name': 'Bhupendra', 'age': 30, 'city': 'jaipur'}

In [140]:
# 3) Flexible key types

person = {'name':'Bhupendra',
          'age':30,
          'name':'Rahul'}
print(person)

{'name': 'Rahul', 'age': 30}

In [142]:
person = {'name':'Bhupendra',
          'age':30,
          'name2':'Rahul'}
print(person)

{'name': 'Bhupendra', 'age': 30, 'name2': 'Rahul'}

In [144]:
data = {'name':'john',
        123:'integer key',
        (1,2):'tuple key',
        2.3:'float key'
       }
print(data)

{'name': 'john', 123: 'integer key', (1, 2): 'tuple key', 2.3: 'float key'}

In [146]:
data = {'name':'john',
        123:'integer key',
        (1,2):'tuple key',
        2.3:'float key',
        [1,2,3]:'list key'
       }
print(data)

TypeError: unhashable type: 'list'

In [148]:
data = {'name':'john',
        123:'integer key',
        (1,2):'tuple key',
        2.3:'float key',
        {'age':34}:'dictionary key'
       }
print(data)

TypeError: unhashable type: 'dict'

In [150]:
# 4) Duplicates not allow

dict1 = {'Id':'12345Q',
         'color':'red',
         'year':2024,
         'year':2025
        }
print(dict1)

{'Id': '12345Q', 'color': 'red', 'year': 2025}

In [156]:
# MEMBERSHIP TESTING :- only on keys

person = {'name':'Bhupendra',
          'age':30,
          'name2':'Rahul'}
print('name' in person)
print('email' in person)

print(30 in person)

True
False
False

In [158]:
# NESTED DICTIONARY

employ = {'emp1':{'name':'Bhupendra',
                  'age':30},
          'emp2':{'name':'Rahul',
                  'age':21}
         }
print(employ)

{'emp1': {'name': 'Bhupendra', 'age': 30}, 'emp2': {'name': 'Rahul', 'age': 21}}

In [160]:
employ = {'emp1':{'name':'Bhupendra',
                  'age':30},
          'emp2':{'name':'Rahul',
                  'age':21}
         }
print(employ['emp1'])

{'name': 'Bhupendra', 'age': 30}

In [164]:
employ = {'emp1':{'name':'Bhupendra',
                  'age':30},
          'emp2':{'name':'Rahul',
                  'age':21}
         }
print(employ['emp1']['name'])
print(employ['emp2']['name'])

Bhupendra
Rahul

In [ ]:
# DICTIONARY METHODS

In [2]:
# Length Method

dict = {"ID":1234,"color":"Red","Year":2004}
print(dict)
print(len(dict))

{'ID': 1234, 'color': 'Red', 'Year': 2004}
3

In [6]:
# Get Keys Method :- only provide key of the dictionary 

a = { "name":"Rahul","age":21,"country":"India"}
x = a.keys()
print(x)

dict_keys(['name', 'age', 'country'])

In [8]:
# Get Values Method :- only provide values of keys from dictionary

a = { "name":"Rahul","age":21,"country":"India"}
y = a.values()
print(y)

dict_values(['Rahul', 21, 'India'])

In [16]:
# Update Method

person = {"Name":"Alice",
          "Age":32,
         "Country":"India",
         "Gender":"Male"}
print(person)

person.update({"Phone number":9999999999,"email id":"alice123@gmail.com"})
print("After update the dictionary",person)

{'Name': 'Alice', 'Age': 32, 'Country': 'India', 'Gender': 'Male'}
After update the dictionary {'Name': 'Alice', 'Age': 32, 'Country': 'India', 'Gender': 'Male', 'Phone number': 9999999999, 'email id': 'alice123@gmail.com'}

In [10]:
# CHANGE VALUES

a = { "name":"Rahul",
     "age":21,
     "country":"India"}
print(a)
a["country"] = "Bharat"
print("After changing the value of country",a)

{'name': 'Rahul', 'age': 21, 'country': 'India'}
After changing the value of country {'name': 'Rahul', 'age': 21, 'country': 'Bharat'}

In [12]:
# ADDING ITEMS IN DICTIONARY

person = {"Name":"Alice",
          "Age":32}
print(person)

person["City"] = "New Delhi"
person["email id"] = "alice123@gmail.com"
print("After add key values pairs",person)

{'Name': 'Alice', 'Age': 32}
After add key values pairs {'Name': 'Alice', 'Age': 32, 'City': 'New Delhi', 'email id': 'alice123@gmail.com'}

In [18]:
# REMOVE ITEMS FROM DICTIONARY (Pop Method)

A = {'Name': 'Alice', 
     'Age': 32, 
     'Country': 'India', 
     'Gender': 'Male', 
     'Phone number': 9999999999, 
     'email id': 'alice123@gmail.com'}
A.pop("Age")
print(A)

{'Name': 'Alice', 'Country': 'India', 'Gender': 'Male', 'Phone number': 9999999999, 'email id': 'alice123@gmail.com'}

In [20]:
# DELETE METHOD

person = {'Name': 'Alice', 
     'Age': 32, 
     'Country': 'India', 
     'Gender': 'Male', 
     'Phone number': 9999999999, 
     'email id': 'alice123@gmail.com'}
del person["Age"]
print(person)

{'Name': 'Alice', 'Country': 'India', 'Gender': 'Male', 'Phone number': 9999999999, 'email id': 'alice123@gmail.com'}

In [22]:
person = {'Name': 'Alice', 
     'Age': 32, 
     'Country': 'India', 
     'Gender': 'Male', 
     'Phone number': 9999999999, 
     'email id': 'alice123@gmail.com'}
del person["Age"],person["Gender"]
print(person)

{'Name': 'Alice', 'Country': 'India', 'Phone number': 9999999999, 'email id': 'alice123@gmail.com'}

In [24]:
person = {'Name': 'Alice', 
     'Age': 32, 
     'Country': 'India', 
     'Gender': 'Male', 
     'Phone number': 9999999999, 
     'email id': 'alice123@gmail.com'}
del person                        # delete whole dictionary
print(person)

NameError: name 'person' is not defined

In [26]:
# CLEAR METHOD

person = {'Name': 'Alice', 
     'Age': 32, 
     'Country': 'India', 
     'Gender': 'Male', 
     'Phone number': 9999999999, 
     'email id': 'alice123@gmail.com'}
print(person)

person.clear()
print(person)

{'Name': 'Alice', 'Age': 32, 'Country': 'India', 'Gender': 'Male', 'Phone number': 9999999999, 'email id': 'alice123@gmail.com'}
{}

# Prectice Question of Dictionary

In [ ]:
# Question 1

""" Write a python script to concatenate the following dictionaries to create a new one. """

In [37]:
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
dic4 = {}

for d in (dic1,dic2,dic3):
    dic4.update(d)

print("The dictionary is: ",dic4)

The dictionary is:  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# Question 2

""" Print a dictionary where the keys are the number between 1 to 15 and the values are square of keys. """

In [35]:
square = {}
for num in range(1,16):
    square[num] = num**2
print("The dictionary is: ",square)

The dictionary is:  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [39]:
square = {}
for num in range(1,101):
    square[num] = num**2
print("The dictionary is: ",square)

The dictionary is:  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000}

In [ ]:
# Question 3

""" Check whether a given key already exists in a dictionary. """

In [45]:
d = {1:10,2:20,3:30,4:40,5:50,6:60}

def key_present(x):
    if x in d:
        print("Key is present in the dictionary.")
    else:
        print("Key is not present in the dictionary.")

key_present(2)

Key is present in the dictionary.

# OOPS in Python

In [ ]:
# programming paradigm

A programming paradigm is a fundamental style of computer programming. 
Its a way of thinking about and structuring the solution to a problem using a programming language.
Different paradigms offer distinct approaches to organizing code, defining program execution, and structuring data. 

A programming paradigm is a relatively high-level way to conceptualize and structure the implementation of a computer program.
A programming language can be classified as supporting one or more paradigms. 
Paradigms are separated along and described by different dimensions of programming.

Examples of Programming Paradigms: 
1) Imperative Programming:- Focuses on how to achieve a result by providing a sequence of commands for the computer to execute. 
2) Declarative Programming:- Focuses on what result is desired, rather than specifying the steps to achieve it. 
3) Object-Oriented Programming (OOP):- Structures code around "objects" that contain data and methods to operate on that data. 
4) Functional Programming:- Treats computation as the evaluation of mathematical functions and avoids changing state or mutable data. 
5) Procedural Programming:- Breaks down code into procedures (functions) that perform specific tasks in a sequential manner.

In [ ]:
# Object-oriented programming (OOP) 

Object-oriented programming (OOP) is a programming paradigm that structures code around objects, 
which are instances of classes that encapsulate data (attributes) and methods (functions) that operate on that data.
Its a way to organize software design by modeling real-world entities and their interactions. 

Key Concepts in OOP:
1) Objects:- These are instances of classes, representing specific entities with their own attributes and behaviors. 
             For example, in a car simulation and "blue car" could be objects of a "Car" class. 
2) Classes:- A class acts as a blueprint or template for creating objects. 
             It defines the attributes (data) and methods (functions) that objects of that class will possess. 
3) Encapsulation:- This principle hides the internal details of an object and exposes only a public interface for interaction. 
                   This protects the object's data from unintended modification and makes the code more modular and maintainable. 
4) Inheritance:- Allows a class to inherit properties and behaviors from another class (parent or base class), 
                 promoting code reuse and establishing relationships between classes. For example, a "SportsCar"
                 class could inherit from a "Car" class, adding specific attributes and methods for sports cars. 
5) Polymorphism:- Means many forms. In OOP, it allows objects of different classes to be treated as objects of a common type, 
                  enabling flexible and adaptable code. For example, a "sound()" method might behave differently for a "Dog" 
                  object and a "Cat" object, even though they both inherit from an "Animal" class.

In [ ]:
Benefits of OOP:
1) Code Reusability:- Inheritance and polymorphism allow developers to reuse code, reducing development time and effort. 
2) Modularity:- Encapsulation promotes modular design, making code easier to understand, maintain, and debug. 
3) Real-world Modeling:- OOP allows developers to model real-world entities and their interactions more naturally, 
                         leading to more intuitive and understandable software. 
4) Scalability:- OOP principles make it easier to scale and extend software systems as they grow in complexity. 
5) Maintainability:- OOP promotes code organization and structure, making it easier to maintain and update software over time.

In [50]:
#  1. Procedural Programming

num1 = 10
num2 = 20
sum = num1 + num2
print(sum)

30

In [54]:
# 2. Functional Programming

def add_numbers(a,b):
    print(a + b)

def sub_numbers(a,b):
    print(a - b)

add_numbers(40,10)
sub_numbers(90,78)

50
12

In [56]:
# 3. Object-Oriented Programming (OOP)

class calculator:  # make a class
    def add(self,a,b):
        print(a + b)

    def sub(self,a,b):
        print(a - b)

    def mult(self,a,b):
        print(a * b)

cal = calculator() # define object for class
cal.add(40,10)
cal.sub(50,23)
cal.mult(23,7)

50
27
161

# Class and Object in OOPS

In [ ]:
In Python, classes and objects are fundamental concepts of object-oriented programming (OOP). Here's a breakdown of their meanings:

Class:- A class is a blueprint or template for creating objects.
        It defines the structure (attributes/data) and behavior (methods/functions) that objects of that class will have.
        It acts as a user-defined data type.
        Its a logical grouping of data and functions that work on that data.
        Classes are defined using the class keyword.

Object:- An object is an instance of a class.
         Its a concrete entity created based on the blueprint defined by the class.
         Each object has its own unique set of attribute values.
         Objects encapsulate data (attributes) and functionality (methods).
         Objects are created by calling the class name like a function.


Example:
Think of a "car" as a class. It defines the common characteristics of all cars, such as having wheels, 
an engine, and a steering wheel. An actual car you see on the road, like a "red sedan," is an object of the "car" class. 
It has specific values for its attributes (color, model, etc.) but follows the general structure defined by the "car" class.

In [ ]:
Key Concepts:
1) Attributes: Variables that store data within an object.
2) Methods: Functions that define the behavior of an object.
3) __init__ method: A special method (constructor) that is automatically called when an object is created. 
                    It is used to initialize the object's attributes.
4) self parameter: Refers to the object instance within a class method.

In [ ]:
__INIT__ FUNCTION :- In Python, a constructor is a special method within a class that is automatically called when a new object (instance)
                     of that class is created. Its primary purpose is to initialize the attributes (data members) of the object and 
                     perform any necessary setup for the object to be ready for use.
                     Unlike some other object-oriented languages where constructors share the same name as the class, Python uses a 
                     specific method name for its constructor: __init__.


Key characteristics of a Python constructor (__init__):
1) Automatic Call (Invocation):- It is automatically invoked when you create an object of the class. You do not explicitly call __init__.
2) Initialization:- Its main role is to set the initial state of the object by assigning values to its instance variables.
3) self Parameter:- The first parameter of the __init__ method (by convention, named self) refers to the instance of the class being created.
                    It allows you to access and modify the instance's attributes.
4)Parameters: It can accept additional parameters to receive initial values for the object's attributes, allowing for flexible object creation.

In [ ]:
__STR__ Method :- __str__ method in Python allows us to define a custom string representation of an object. 
                  By default, when we print an object or convert it to a string using str(), 
                  Python uses the default implementation, which returns a string like <__main__.ClassName object at 0x00000123>.

In [59]:
class car:
    def start(self):
        print(f"The {self.color} {self.model} car is starting.")

# Object creation our attributes set karna
car1 = car()
car1.model = "Toyota"
car1.color = "Red"

car2 = car()
car2.model = "Honda"
car2.color = "Blue"

# Method call karna
car1.start()
car2.start()

The Red Toyota car is starting.
The Blue Honda car is starting.

In [3]:
# init function

class Car:
    def __init__(self,model,color):
        self.model = model
        self.color = color

    def start(self):
        print(f"The {self.color} {self.model} car is starting.")

car1 = Car("Toyota","Black")
car1.start()

The Black Toyota car is starting.

In [5]:
class Dog:
    species = "Canine"  # Class attribute

    def __init__(self, name, age):
        self.name = name  # Instance attribute
        self.age = age  # Instance attribute

# Creating an object of the Dog class
dog1 = Dog("Buddy", 3)

print(dog1.name)  
print(dog1.species)

Buddy
Canine

In [7]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"{self.name} is {self.age} years old."  # Correct: Returning a string
      
dog1 = Dog("Buddy", 3)
dog2 = Dog("Charlie", 5)

print(dog1)  
print(dog2)

Buddy is 3 years old.
Charlie is 5 years old.

In [9]:
class Dog:
    # Class variable
    species = "Canine"

    def __init__(self, name, age):
        # Instance variables
        self.name = name
        self.age = age

# Create objects
dog1 = Dog("Buddy", 3)
dog2 = Dog("Charlie", 5)

# Access class and instance variables
print(dog1.species)  # (Class variable)
print(dog1.name)     # (Instance variable)
print(dog2.name)     # (Instance variable)

# Modify instance variables
dog1.name = "Max"
print(dog1.name)     # (Updated instance variable)

# Modify class variable
Dog.species = "Feline"
print(dog1.species)  # (Updated class variable)
print(dog2.species)

Canine
Buddy
Charlie
Max
Feline
Feline

# Polymorphism in OOPS

In [ ]:
Polymorphism in Python, derived from Greek words "poly" (many) and "morphism" (forms), is a core concept
in object-oriented programming (OOP) that allows objects of different classes to be treated as objects of a common type. 
This enables a single interface or function to work with various data types or classes, leading to more flexible and reusable code. 

Key aspects of polymorphism in Python:
1) Method Overriding: A subclass provides a specific implementation for a method that is already defined in its superclass.
                   When the method is called on an object of the subclass, the overridden version is executed. 
2) Duck Typing: Pythons dynamic typing allows objects to be used interchangeably if they have the same methods, 
                regardless of their actual class or inheritance hierarchy. If an object
                "walks like a duck and quacks like a duck", it can be treated as a duck.
3) Operator Overloading: Built-in operators (like +, -, *) can be given different meanings depending on the data types of the operands. 
                         This is achieved by defining special methods (e.g., __add__, __sub__) within a class.

In [ ]:
Types of Polymorphism
1) Compile-time Polymorphism :- Found in statically typed languages like Java or C++, where the behavior of a function or operator is 
                                resolved during the program's compilation phase.
                                Examples include method overloading and operator overloading, where multiple functions or operators can 
                                share the same name but perform different tasks based on the context.
                                In Python, which is dynamically typed, compile-time polymorphism is not natively supported. Instead, Python 
                                uses techniques like dynamic typing and duck typing to achieve similar flexibility.

2) Runtime Polymorphism :-  Occurs when the behavior of a method is determined at runtime based on the type of the object.
                            In Python, this is achieved through method overriding: a child class can redefine a method from its parent 
                            class to provide its own specific implementation.
                            Python dynamic nature allows it to excel at runtime polymorphism, enabling flexible and adaptable code.

In [ ]:
Method Overriding (RUN TIME POLYMORPHISM) :- Method overriding is an ability of any object-oriented programming language that allows a 
                                             subclass or child class to provide a specific implementation of a method that is already provided 
                                             by one of its super-classes or parent classes. When a method in a subclass has the same name, 
                                             the same parameters or signature, and same return type(or sub-type) as a method in its super-class, 
                                             then the method in the subclass is said to override the method in the super-class.

                                             Method overriding in Python is a special feature that allows programmers to implement their own methods 
                                             on existing objects. They can override certain methods and existing modules without creating a new one.
                                             This is a useful feature when you want to customize the functionality of an existing class.

Method overriding tab hota hai jab child class apne parent class ke method ko redefine karti hai.
Yeh ensure karta hai ki child class ka method call ho jab object child class ka ho

In [ ]:
Method Overloading ( Compile-time Polymorphism) :- In many programming languages like C++ or Java, you can define multiple methods with the
                                                   same name but different parameter lists. This concept is called method overloading.
                                                   Python does not support method overloading by default. If you define multiple methods with 
                                                   the same name, only the latest definition will be used.

1. Using Variable Arguments (*args):- In this approach, we use variable-length arguments to accept any number of arguments and handle them
                                      inside the function.
2. Using Default Arguments (None as default value)
3. Using Multiple Dispatch:- Python multipledispatch library allows true method overloading by dispatching functions based on
                             parameter types and counts.

In [ ]:
Operator Overloading :- Operator Overloading means giving extended meaning beyond their predefined operational meaning. 
                        For example operator + is used to add two integers as well as join two strings and merge two lists. 
                        It is achievable because '+' operator is overloaded by int class and str class. 
                        You might have noticed that the same built-in operator or function shows different behavior for objects
                        of different classes, this is called Operator Overloading. 

Advantages:
Overloading boolean operators in a custom class can provide several advantages, including:

1. Improved readability: By overloading boolean operators, you can provide a more natural syntax and semantics for your class
                         that makes it easier to read and understand.
2. Consistency with built-in types: Overloading boolean operators can make your class behave more like built-in types in Python,
                                    which can make it easier to use and integrate with other code.
3. Operator overloading: Overloading boolean operators is an example of operator overloading in Python, which can make your code 
                         more concise and expressive by allowing you to use familiar operators to perform custom operations on your objects.
4. Custom behavior: Overloading boolean operators can allow you to define custom behavior for your class that is not available in 
                    built-in types or other classes.
5. Enhanced functionality: By overloading boolean operators, you can add new functionality to your class that was not available before,
                           such as the ability to perform logical and or or operations on instances of your class.

In [14]:
class Shape:
    def area(self):
        return "Undefined"

class Rectangle(Shape):
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius ** 2

shapes = [Rectangle(2, 3), Circle(5)]
for shape in shapes:
    print(f"Area: {shape.area()}")

Area: 6
Area: 78.5

In [16]:
class Animal:
    def sound(self):
        return "Some generic sound"

class Dog(Animal):
    def sound(self):
        return "Bark"

class Cat(Animal):
    def sound(self):
        return "Meow"

# Polymorphic behavior
animals = [Dog(), Cat(), Animal()]
for animal in animals:
    print(animal.sound())  # Calls the overridden method based on the object type

Bark
Meow
Some generic sound

In [12]:
# POLYMORPHISM WITH FUNCTION

class Bird:
    def fly(self):
        print("Bird is flying.")

class Airplane:
    def fly(self):
        print("Airplane is flying.")

bird = Bird()
airplane = Airplane()

bird.fly()
airplane.fly()

Bird is flying.
Airplane is flying.

In [18]:
# RUN TIME POLYMORPHISM (METHOD OVER RIDING)

# parent class
class Animal:
    def make_sound(self):
        print("animal makes a sound")

# child class
class Dog(Animal):
    def make_sound(self):
        print("Dog barks")

class Cat(Animal):
    def make_sound(self):
        print("Cat meows")

# object creation
animal = Animal()
dog = Dog()
cat = Cat()

# method calling by object
animal.make_sound()  
dog.make_sound()     
cat.make_sound()

animal makes a sound
Dog barks
Cat meows

In [20]:
class Vehicle:
    def start(self):
        print("Vehicle starting...")

class Car(Vehicle):
    def start(self):
        super().start()  
        print("Car engine ignited.")

my_car = Car()
my_car.start()

Vehicle starting...
Car engine ignited.

In [26]:
# Python program to demonstrate 
# Defining parent class 
class Parent(): 
	
	# Constructor 
	def __init__(self): 
		self.value = "Inside Parent"
		
	# Parent's show method 
	def show(self): 
		print(self.value) 
		
# Defining child class 
class Child(Parent): 
	
	# Constructor 
	def __init__(self): 
		super().__init__()  # Call parent constructor
		self.value = "Inside Child"
		
	# Child's show method 
	def show(self): 
		print(self.value) 
		
# Driver's code 
obj1 = Parent() 
obj2 = Child() 

obj1.show()  # Should print "Inside Parent"
obj2.show()  # Should print "Inside Child"

Inside Parent
Inside Child

In [30]:
# Python program to demonstrate 
# Defining parent class 1 
# overriding in multiple inheritance 
class Parent1(): 
		
	# Parent's show method 
	def show(self): 
		print("Inside Parent1") 
		
# Defining Parent class 2 
class Parent2(): 
		
	# Parent's show method 
	def display(self): 
		print("Inside Parent2") 
		
		
# Defining child class 
class Child(Parent1, Parent2): 
		
	# Child's show method 
	def show(self): 
		print("Inside Child") 
	
		
# Driver's code 
obj = Child() 

obj.show() 
obj.display()

Inside Child
Inside Parent2

In [28]:
# Python program to demonstrate 
# Python program to demonstrate 
# overriding in multilevel inheritance 

class Parent(): 
		
	# Parent's show method 
	def display(self): 
		print("Inside Parent") 
	
	
# Inherited or Sub class (Note Parent in bracket) 
class Child(Parent): 
		
	# Child's show method 
	def show(self): 
		print("Inside Child") 
	
# Inherited or Sub class (Note Child in bracket) 
class GrandChild(Child): 
		
	# Child's show method 
	def show(self): 
		print("Inside GrandChild")		 
	
# Driver code 
g = GrandChild() 
g.show() 
g.display()

Inside GrandChild
Inside Parent

In [24]:
# COMPILE TIME POLYMORPHISM (METHOD OVERLOADING)

class Calculator:
    def add(self,a,b,c=0):
        print(a + b + c)

calc = Calculator()
calc.add(5,6)
calc.add(5,6,7)

11
18

In [34]:
class Media_Player:
    def play(self):
        print("Playing media.")

class Audio_Player(Media_Player):
    def play(self):
        print("Playing audio file.")

class Video_Player(Media_Player):
    def play(self):
        print("Playing video file.")

media = Media_Player()
audio = Audio_Player()
video = Video_Player()

media.play()
audio.play()
video.play()

Playing media.
Playing audio file.
Playing video file.

In [36]:
# OPERATOR OVERLOADING

# Python Program illustrate how 
# to overload an binary + operator
# And how it actually works

class A:
    def __init__(self, a):
        self.a = a

    # adding two objects 
    def __add__(self, o):
        return self.a + o.a 
ob1 = A(1)
ob2 = A(2)
ob3 = A("Geeks")
ob4 = A("For")

print(ob1 + ob2)
print(ob3 + ob4)
# Actual working when Binary Operator is used.
print(A.__add__(ob1 , ob2)) 
print(A.__add__(ob3,ob4)) 
#And can also be Understand as :
print(ob1.__add__(ob2))
print(ob3.__add__(ob4))

3
GeeksFor
3
GeeksFor
3
GeeksFor

In [38]:
# Python Program to perform addition 
# of two complex numbers using binary 
# + operator overloading.

class complex:
    def __init__(self, a, b):
        self.a = a
        self.b = b

     # adding two objects 
    def __add__(self, other):
        return self.a + other.a, self.b + other.b

Ob1 = complex(1, 2)
Ob2 = complex(2, 3)
Ob3 = Ob1 + Ob2
print(Ob3)

(3, 5)

In [40]:
# Python program to overload
# a comparison operators 

class A:
    def __init__(self, a):
        self.a = a
    def __gt__(self, other):
        if(self.a>other.a):
            return True
        else:
            return False
ob1 = A(2)
ob2 = A(3)
if(ob1>ob2):
    print("ob1 is greater than ob2")
else:
    print("ob2 is greater than ob1")

ob2 is greater than ob1

In [42]:
# Python program to overload equality
# and less than operators

class A:
    def __init__(self, a):
        self.a = a
    def __lt__(self, other):
        if(self.a<other.a):
            return "ob1 is lessthan ob2"
        else:
            return "ob2 is less than ob1"
    def __eq__(self, other):
        if(self.a == other.a):
            return "Both are equal"
        else:
            return "Not equal"
                
ob1 = A(2)
ob2 = A(3)
print(ob1 < ob2)

ob3 = A(4)
ob4 = A(4)
print(ob1 == ob2)

ob1 is lessthan ob2
Not equal

# Inheritance in OOPs

In [ ]:
Inheritance in Python is a fundamental concept in object-oriented programming (OOP) that allows a new class to inherit attributes
and methods from an existing class. This promotes code reuse, reduces redundancy, and facilitates a hierarchical organization of classes. 

Key Concepts:
1. Parent Class (Base Class / Superclass): The existing class from which attributes and methods are inherited.
2. Child Class (Derived Class / Subclass): The new class that inherits from the parent class.

In [ ]:
Types of Inheritance in Python:

1. Single Inheritance: A child class inherits from a single parent class.
2. Multiple Inheritance: A child class inherits from more than one parent class. 
3. Multilevel Inheritance: A child class inherits from a parent class, which itself inherits from another parent class (creating a chain). 
4. Hierarchical Inheritance: Multiple child classes inherit from the same parent class.
5. Hybrid Inheritance: A combination of two or more types of inheritance.

In [ ]:
Benefits of Inheritance:

1. Code Reusability: Avoids rewriting common code by defining it once in the parent class and reusing it in child classes.
2. Extensibility: Allows for easy extension and modification of existing class functionalities without altering the original code.
3. Polymorphism: Enables objects of different classes to be treated as objects of a common type, allowing for flexible and generic code.
4. Logical Organization: Creates a clear hierarchical structure for related classes, improving code readability and maintainability.

In [49]:
# SINGLE INHERITANCE

class Parent:
    def show(self):
        print("This is parent class.")

class Child(Parent):
    def display(self):
        print("This is child class")

child = Child()

child.show()
child.display()

This is parent class.
This is child class

In [51]:
# MULTIPLE INHERITANCE

class Mother:
    def show_mother(self):
        print("This is mother class.")

class Father:
    def show_father(self):
        print("This is father class.")

class Child(Mother,Father):
    def show_child(self):
        print("This is child class.")

child = Child()
child.show_mother()
child.show_father()
child.show_child()

This is mother class.
This is father class.
This is child class.

In [3]:
# MULTI LEVEL INHERITANCE

class Grandparent:
    def show_grandparent(self):
        print("GrandParents")

class Parents(Grandparent):
    def show_parent(self):
        print("Parents")

class Child(Parents):
    def show_child(self):
        print("Child")

child = Child()
child.show_grandparent()
child.show_parent()
child.show_child()

parents = Parents()
parents.show_grandparent()
parents.show_parent()

GrandParents
Parents
Child
GrandParents
Parents

In [7]:
# HIERARICHAL INHERITANCE

class Parents:
    def show_parent(self):
        print("Parent class")

class Boys(Parents):
    def display1(self):
        print("Boys parents")

class Girl(Parents):
    def display2(self):
        print("Girls parents")

boy = Boys()
girl = Girl()

boy.show_parent()
boy.display1()

girl.show_parent()
girl.display2()

Parent class
Boys parents
Parent class
Girls parents

In [9]:
# 1. Single Inheritance
class Person:
    def __init__(self, name):
        self.name = name

class Employee(Person):  # Employee inherits from Person
    def __init__(self, name, salary):
        super().__init__(name)
        self.salary = salary

# 2. Multiple Inheritance
class Job:
    def __init__(self, salary):
        self.salary = salary

class EmployeePersonJob(Employee, Job):  # Inherits from both Employee and Job
    def __init__(self, name, salary):
        Employee.__init__(self, name, salary)  # Initialize Employee
        Job.__init__(self, salary)            # Initialize Job

# 3. Multilevel Inheritance
class Manager(EmployeePersonJob):  # Inherits from EmployeePersonJob
    def __init__(self, name, salary, department):
        EmployeePersonJob.__init__(self, name, salary)  # Explicitly initialize EmployeePersonJob
        self.department = department

# 4. Hierarchical Inheritance
class AssistantManager(EmployeePersonJob):  # Inherits from EmployeePersonJob
    def __init__(self, name, salary, team_size):
        EmployeePersonJob.__init__(self, name, salary)  # Explicitly initialize EmployeePersonJob
        self.team_size = team_size

# 5. Hybrid Inheritance (Multiple + Multilevel)
class SeniorManager(Manager, AssistantManager):  # Inherits from both Manager and AssistantManager
    def __init__(self, name, salary, department, team_size):
        Manager.__init__(self, name, salary, department)        # Initialize Manager
        AssistantManager.__init__(self, name, salary, team_size)  # Initialize AssistantManager

# Creating objects to show inheritance

# Single Inheritance
emp = Employee("John", 40000)
print(emp.name, emp.salary)

# Multiple Inheritance
emp2 = EmployeePersonJob("Alice", 50000)
print(emp2.name, emp2.salary)

# Multilevel Inheritance
mgr = Manager("Bob", 60000, "HR")
print(mgr.name, mgr.salary, mgr.department)

# Hierarchical Inheritance
asst_mgr = AssistantManager("Charlie", 45000, 10)
print(asst_mgr.name, asst_mgr.salary, asst_mgr.team_size)

# Hybrid Inheritance
sen_mgr = SeniorManager("David", 70000, "Finance", 20)
print(sen_mgr.name, sen_mgr.salary, sen_mgr.department, sen_mgr.team_size)

John 40000
Alice 50000
Bob 60000 HR
Charlie 45000 10
David 70000 Finance 20

# Encapsulation in OOPS

In [ ]:
Encapsulation is the bundling of data (attributes) and methods (functions) within a class, restricting access to some components
to control interactions.
A class is an example of encapsulation as it encapsulates all the data that is member functions, variables, etc.
In Python, encapsulation refers to the bundling of data (attributes) and methods (functions) that operate on the data into a single unit,
typically a class. It also restricts direct access to some components, which helps protect the integrity of the data and ensures proper usage.

Python achieves encapsulation through public, protected and private attributes.

How Encapsulation Works :
1. Data Hiding: The variables (attributes) are kept private or protected, meaning they are not accessible directly from outside the class.
                Instead, they can only be accessed or modified through the methods.
2. Access through Methods: Methods act as the interface through which external code interacts with the data stored in the variables. 
                           For instance, getters and setters are common methods used to retrieve and update the value of a private variable.
3. Control and Security: By encapsulating the variables and only allowing their manipulation via methods, the class can enforce rules on 
                         how the variables are accessed or modified, thus maintaining control and security over the data.

In [ ]:
Data Hiding (through convention): Unlike some other languages with explicit access modifiers (like private or protected), 
                                  Python achieves data hiding through naming conventions.
1. Public: Attributes and methods without a leading underscore are considered public and can be accessed directly from outside the class.
2. Protected: Attributes and methods prefixed with a single underscore (e.g., _attribute_name) are conventionally understood to be
              "protected" and should not be accessed directly from outside the class, though Python does not strictly enforce this.
3. Private: Attributes and methods prefixed with a double underscore (e.g., __attribute_name) undergo name mangling, making them harder 
            to access directly from outside the class, providing a stronger form of "privacy" compared to single underscore.

Controlled Access:
Encapsulation encourages using public methods (getters and setters) to interact with and modify the internal state of an object. 
This allows for validation, logging, or other logic to be applied before data is accessed or changed, preventing unintended modifications
and maintaining data consistency.



Benefits of Encapsulation:
1) Data Integrity: Prevents direct, uncontrolled modification of an object's internal state.
2) Modularity: Classes become self-contained units, making code easier to understand, maintain, and reuse.
3) Flexibility: Allows for internal implementation changes without affecting external code that interacts with the class's public interface.
4) Security: Reduces the risk of accidental or malicious data corruption.

In [12]:
# PUBLIC MEMBERS

class Public:
    def __init__(self):
        self.name = "John"  # Public attribute

    def display_name(self):
        print(self.name)  # Public method

obj = Public()
obj.display_name()  # Accessible
print(obj.name)  # Accessible

John
John

In [22]:
class MyClass:
    def __init__(self, value):
        self.value = value  # Public attribute
    def show_value(self):  # Public method
        print(self.value)
# Usage
obj = MyClass(10)
obj.show_value()  # Accessing public method
print(obj.value)  # Accessing public attribute

10
10

In [14]:
# PROTECTED MEMBERS

class Protected:
    def __init__(self):
        self._age = 30  # Protected attribute

class Subclass(Protected):
    def display_age(self):
        print(self._age)  # Accessible in subclass

obj = Subclass()
obj.display_age()

30

In [18]:
class BaseClass:
    def __init__(self, value):
        self._value = value  # Protected attribute
    def _show_value(self):  # Protected method
        print(self._value)

class SubClass(BaseClass):
    def display(self):
        self._show_value()  # Accessing protected method from the subclass

# Usage
obj = SubClass(10)
obj.display()  # Accessing protected method via public method in subclass
print(obj._value)  # Accessing protected attribute directly (not recommended)

10
10

In [16]:
# PRIVATE MEMBERS

class Private:
    def __init__(self):
        self.__salary = 50000  # Private attribute

    def salary(self):
        return self.__salary  # Access through public method

obj = Private()
print(obj.salary())  # Works
#print(obj.__salary)  # Raises AttributeError

50000

In [20]:
class MyClass:
    def __init__(self, value):
        self.__value = value  # Private attribute
    def __show_value(self):  # Private method
        print(self.__value)
    def public_method(self):  # Public method
        self.__show_value()  # Accessing private method within the class

# Usage
obj = MyClass(10)
# obj.__show_value()  # This would raise an AttributeError
# print(obj.__value)  # This would raise an AttributeError
obj.public_method()  # Accesses private method through a public method

10

In [24]:
class Student:

   def __init__(self, name="Rajaram", marks=50):
      self.__name = name
      self.__marks = marks
   def studentdata(self):
      print ("Name: {} marks: {}".format(self.__name, self.__marks))
      
s1 = Student()
s2 = Student("Bharat", 25)

s1.studentdata()
s2.studentdata()
print ("Name: {} marks: {}".format(s1.__name, s2.__marks))
print ("Name: {} marks: {}".format(s2.__name, __s2.marks))

Name: Rajaram marks: 50
Name: Bharat marks: 25

AttributeError: 'Student' object has no attribute '__name'

#  Abstraction in OOPS

In [ ]:
Abstraction in Python, a core principle of Object-Oriented Programming (OOP), involves simplifying complex systems 
by focusing on essential characteristics and hiding unnecessary implementation details. It allows developers to create
a high-level view of a system, making it easier to understand and manage. 

Key Aspects of Abstraction in Python:
1. Hiding Complexity: Abstraction conceals the intricate inner workings of a class or method, exposing only the relevant
                      functionalities to the user. This reduces cognitive load and allows users to interact with the system
                      at a higher level of understanding.
2. Defining a Blueprint: Abstraction is often achieved through abstract classes and abstract methods. An abstract class serves
                         as a blueprint that defines common features and methods that its subclasses must implement. 
                         Abstract methods are declared in the abstract class but have no implementation; they are meant to be 
                         overridden by concrete subclasses. 
3. Enforcing Contracts: Abstract methods enforce a contract, ensuring that any concrete subclass inheriting from an abstract class 
                        provides its own implementation for these methods. This promotes consistency and ensures that all objects 
                        of a certain type adhere to a defined interface.
4. Achieving Abstraction with abc module: In Python, the abc (Abstract Base Classes) module is used to create abstract classes and methods. 
                                          The ABCMeta metaclass and the @abstractmethod decorator from this module are instrumental in 
                                          defining abstract components.

In [27]:
from abc import ABC, abstractmethod

class Vehicle(ABC):  # Abstract Base Class
    @abstractmethod
    def start_engine(self):
        pass

    @abstractmethod
    def stop_engine(self):
        pass

class Car(Vehicle):
    def start_engine(self):
        print("Car engine started.")

    def stop_engine(self):
        print("Car engine stopped.")

class Motorcycle(Vehicle):
    def start_engine(self):
        print("Motorcycle engine started.")

    def stop_engine(self):
        print("Motorcycle engine stopped.")

# You cannot instantiate an abstract class directly
# vehicle = Vehicle() # This would raise a TypeError

car = Car()
car.start_engine()
motorcycle = Motorcycle()
motorcycle.stop_engine()

Car engine started.
Motorcycle engine stopped.

In [29]:
from abc import ABC, abstractmethod
class democlass(ABC):
   @abstractmethod
   def method1(self):
      print ("abstract method")
      return
   def method2(self):
      print ("concrete method")

class concreteclass(democlass):
   def method1(self):
      super().method1()
      return
      
obj = concreteclass()
obj.method1()
obj.method2()

abstract method
concrete method

# Recursion in Python

In [ ]:
Recursion involves a function calling itself directly or indirectly to solve a problem by breaking it down into simpler 
and more manageable parts. In Python, recursion is widely used for tasks that can be divided into identical subtasks.

In Python, a recursive function is defined like any other function, but it includes a call to itself. The syntax and 
structure of a recursive function follow the typical function definition in Python, with the addition of one or more 
conditions that lead to the function calling itself.

In [ ]:
Basic Structure of Recursive Function


        def recursive_function(parameters):
        
            if base_case_condition:
        
                return base_result
        
            else:
        
                return recursive_function(modified_parameters)

In [ ]:
Base Case and Recursive Case

1. Base Case: This is the condition under which the recursion stops. It is crucial to prevent infinite loops and to 
              ensure that each recursive call reduces the problem in some manner. In the factorial example, the base case is n == 1.
2. Recursive Case: This is the part of the function that includes the call to itself. It must eventually lead to the base case. 
                   In the factorial example, the recursive case is return n * factorial(n-1).


Types of Recursion in Python
Recursion can be broadly classified into two types: tail recursion and non-tail recursion. The main difference between them is 
related to what happens after the recursive call.
1. Tail Recursion: This occurs when the recursive call is the last operation executed in the function, with no additional work 
                   or calculation following the recursive call. In many programming languages, tail recursion can be optimized 
                   by the compiler into iterative loops to improve performance and prevent stack overflow.
2. Non-Tail Recursion: This occurs when there are operations or calculations that follow the recursive call. This type prevents 
                       the compiler or interpreter from optimizing the recursion into an iteration.

In [ ]:
Advantages of Recursion
1) Recursive functions make the code look clean and elegant.
2) A complex task can be broken down into simpler sub-problems using recursion.
3) Sequence generation is easier with recursion than using some nested iteration.

    
Disadvantages of Recursion
1) Sometimes the logic behind recursion is hard to follow through.
2) Recursive calls are expensive (inefficient) as they take up a lot of memory and time.
3) Recursive functions are hard to debug.

In [32]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

120

In [34]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(10))

55

In [36]:
def tail_fact(n, acc=1):
    # Base case
    if n == 0:
        return acc
    # Tail recursive call with an accumulator
    else:
        return tail_fact(n-1, acc * n)

def nontail_fact(n):
    # Base case
    if n == 1:
        return 1
    # Non-tail recursive call because the multiplication happens after the call
    else:
        return n * nontail_fact(n-1)

# Example usage
print(tail_fact(5))  
print(nontail_fact(5))

120
120

In [38]:
def tri_recursion(k):
  if(k>0):
    result = k+tri_recursion(k-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Python Exception Handling

In [ ]:
Python Exception Handling handles errors that occur during the execution of a program. Exception handling allows to respond to the error, 
instead of crashing the running program. It enables you to catch and manage errors, making your code more robust and user-friendly.

Explanation: In this example, dividing number by 0 raises a ZeroDivisionError. The try block contains the code that might cause an exception 
and the except block handles the exception, printing an error message instead of stopping the program.

Difference Between Exception and Error
1. Error: Errors are serious issues that a program should not try to handle. They are usually problems in the code's logic or configuration 
          and need to be fixed by the programmer. Examples include syntax errors and memory errors.
2. Exception: Exceptions are less severe than errors and can be handled by the program. They occur due to situations like invalid input, 
              missing files or network issues.

In [ ]:
Syntax and Usage
Exception handling in Python is done using the try, except, else and finally blocks.

            try:
                  # Code that might raise an exception
            except SomeException:
                  # Code to handle the exception
            else:
                 # Code to run if no exception occurs
            finally:
                # Code to run regardless of whether an exception occurs

In [ ]:
try, except, else and finally Blocks
1. try Block: try block lets us test a block of code for errors. Python will "try" to execute the code in this block. If an exception occurs,
              execution will immediately jump to the except block.
2. except Block: except block enables us to handle the error or exception. If the code inside the try block throws an error, Python jumps to 
                 the except block and executes it. We can handle specific exceptions or use a general except to catch all exceptions.
3. else Block: else block is optional and if included, must follow all except blocks. The else block runs only if no exceptions are raised in
               the try block. This is useful for code that should execute if the try block succeeds.
4. finally Block: finally block always runs, regardless of whether an exception occurred or not. It is typically used for cleanup operations 
                  (closing files, releasing resources).

In [ ]:
Common Exceptions in Python
Python has many built-in exceptions, each representing a specific error condition. Some common ones include:

Exception Name	                     Description

1.BaseException	                    The base class for all built-in exceptions.
2.Exception	                        The base class for all non-exit exceptions.
3.ArithmeticError	                    The Base class for all errors related to arithmetic operations.
4.ZeroDivisionError	                Raised when a division or modulo operation is performed with zero as the divisor.
5.OverflowError	                    Raised when a numerical operation exceeds the maximum limit of a data type.
6.FloatingPointError	                Raised when a floating-point operation fails.
7.AssertionError	                    Raised when an assert statement fails.
8.AttributeError	                    Raised when an attribute reference or assignment fails.
9.IndexError	                        Raised when a sequence subscript is out of range.
10.KeyError	                        Raised when a dictionary key is not found.
11.MemoryError	                        Raised when an operation runs out of memory.
12.NameError	                        Raised when a local or global name is not found.
13.OSError	                            Raised when a system-related operation (like file I/O) fails.
14.TypeError	                        Raised when an operation or function is applied to an object of inappropriate type.
15.ValueError	                        Raised when a function receives an argument of the right type but inappropriate value.
16.ImportError	                        Raised when an import statement has issues.
17.ModuleNotFoundError	                Raised when a module cannot be found.

In [ ]:
Advantages of Exception Handling:
1) Improved program reliability: By handling exceptions properly, you can prevent your program from crashing or producing incorrect 
                                 results due to unexpected errors or input.
2) Simplified error handling: Exception handling allows you to separate error handling code from the main program logic, making it 
                              easier to read and maintain your code.
3) Cleaner code: With exception handling, you can avoid using complex conditional statements to check for errors, leading to cleaner
                 and more readable code.
4) Easier debugging: When an exception is raised, the Python interpreter prints a traceback that shows the exact location where the 
                     exception occurred, making it easier to debug your code.

                                                                                                     
Disadvantages of Exception Handling:
1) Performance overhead: Exception handling can be slower than using conditional statements to check for errors, as the interpreter has 
                         to perform additional work to catch and handle the exception.
2) Increased code complexity: Exception handling can make your code more complex, especially if you have to handle multiple types of 
                              exceptions or implement complex error handling logic.
3) Possible security risks: Improperly handled exceptions can potentially reveal sensitive information or create security vulnerabilities in 
                            your code, so its important to handle exceptions carefully and avoid exposing too much information about your program.

In [41]:
# Simple Exception Handling Example
n = 10
try:
    res = n / 0  # This will raise a ZeroDivisionError
    
except ZeroDivisionError:
    print("Can't be divided by zero!")

Can't be divided by zero!

In [48]:
# Syntax Error (Error)
print("Hello world") # Missing closing parenthesis

# ZeroDivisionError (Exception)
n = 10
res = n / 0

Hello world

ZeroDivisionError: division by zero

In [50]:
try:
    n = 0
    res = 100 / n
    
except ZeroDivisionError:
    print("You can't divide by zero!")
    
except ValueError:
    print("Enter a valid number!")
    
else:
    print("Result is", res)
    
finally:
    print("Execution complete.")

You can't divide by zero!
Execution complete.

In [54]:
#Catching Specific Exceptions

try:
    x = int("str")  # This will cause ValueError
    
    #inverse
    inv = 1 / x
    
except ValueError:
    print("Not Valid!")
    
except ZeroDivisionError:
    print("Zero has no inverse!")

Not Valid!

In [56]:
a = ["10", "twenty", 30]  # Mixed list of integers and strings
try:
    total = int(a[0]) + int(a[1])  # 'twenty' cannot be converted to int
    
except (ValueError, TypeError) as e:
    print("Error", e)
    
except IndexError:
    print("Index out of range.")

Error invalid literal for int() with base 10: 'twenty'

In [58]:
try:
    # Simulate risky calculation: incorrect type operation
    res = "100" / 20
    
except ArithmeticError:
    print("Arithmetic problem.")
    
except:
    print("Something went wrong!")

Something went wrong!

In [60]:
def set(age):
    if age < 0:
        raise ValueError("Age cannot be negative.")
    print(f"Age set to {age}")

try:
    set(-5)
except ValueError as e:
    print(e)

Age cannot be negative.

# File Handling in Python

In [ ]:
File handling refers to the process of performing operations on a file such as creating, opening, reading, writing and closing it,
through a programming interface. It involves managing the data flow between the program and the file system on the storage device, 
ensuring that data is handled safely and efficiently.

In [ ]:
File Modes in Python
When opening a file, we must specify the mode we want to which specifies what we want to do with the file. Here’s a table of the different modes available: Please refer File Mode in Python for examples of different modes.

Mode	           Description	                                 Behavior

1.r	             Read-only mode.	                            Opens the file for reading. File must exist; otherwise, it raises an error.
2.rb	             Read-only in binary mode.	                Opens the file for reading binary data. File must exist; otherwise, it raises an error.
3.r+	             Read and write mode.	                    Opens the file for both reading and writing. File must exist; otherwise, it raises an
                                                                error.
4.rb+	             Read and write in binary mode.	            Opens the file for both reading and writing binary data. File must exist; otherwise, 
                                                                it raises an error.
5.w	             Write mode.	                                Opens the file for writing. Creates a new file or truncates the existing file.
6.wb         	     Write in binary mode.	                    Opens the file for writing binary data. Creates a new file or truncates the existing 
                                                                file.
7.w+	             Write and read mode.	                    Opens the file for both writing and reading. Creates a new file or truncates the
                                                                existing file.
8.wb+          	 Write and read in binary mode. 	            Opens the file for both writing and reading binary data. Creates a new file or
                                                                truncates the existing file.
9.a	             Append mode.	                                Opens the file for appending data. Creates a new file if it doesn't exist.
10.ab	             Append in binary mode.	                    Opens the file for appending binary data. Creates a new file if it doesn't exist.
11.a+	             Append and read mode.	                    Opens the file for appending and reading. Creates a new file if it doesn't exist.
12.ab+	             Append and read in binary mode.	        Opens the file for appending and reading binary data. Creates a new file if it 
                                                                doesn't exist.
13.x	             Exclusive creation mode.	                Creates a new file. Raises an error if the file already exists.
14.xb	             Exclusive creation in binary mode.	        Creates a new binary file. Raises an error if the file already exists.
15.x+	   Exclusive creation with read and write mode.	        Creates a new file for reading and writing. Raises an error if the file exists.
16.xb+	Exclusive creation with read and write in binary mode.	Creates a new binary file for reading and writing. Raises an error if the file exists.

In [ ]:
Reading a File

    Reading a file can be achieved by file.read() which reads the entire content of the file. After reading the file we can 
    close the file using file.close() which closes the file after reading it, which is necessary to free up system resources.

Writing to a File
    
    Writing to a file is done using file.write() which writes the specified string to the file. If the file exists, its 
    content is erased. If it does not exist, a new file is created.
    It is done using file.write() which adds the specified string to the end of the file without erasing its existing content.

Closing a File

    Closing a file is essential to ensure that all resources used by the file are properly released. file.close() method 
    closes the file and ensures that any changes made to the file are saved.
    with statement is used for resource management. It ensures that file is properly closed after its suite finishes, even 
    if an exception is raised. with open() as method automatically handles closing the file once the block of code is exited, 
    even if an error occurs. This reduces the risk of file corruption and resource leakage.

In [ ]:
Advantages of File Handling in Python
1. Versatility : File handling in Python allows us to perform a wide range of operations, such as creating, reading, writing,
                 appending, renaming and deleting files.
2. Flexibility : File handling in Python is highly flexible, as it allows us to work with different file types (e.g. text files,
                 binary files, CSV files , etc.) and to perform different operations on files (e.g. read, write, append, etc.).
3. User - friendly : Python provides a user-friendly interface for file handling, making it easy to create, read and manipulate files.
4. Cross-platform : Python file-handling functions work across different platforms (e.g. Windows, Mac, Linux), allowing for seamless 
                    integration and compatibility.

Disadvantages of File Handling in Python
1. Error-prone: File handling operations in Python can be prone to errors, especially if the code is not carefully written or if there
                are issues with the file system (e.g. file permissions, file locks, etc.).
2. Security risks : File handling in Python can also pose security risks, especially if the program accepts user input that can be used 
                    to access or modify sensitive files on the system.
3. Complexity : File handling in Python can be complex, especially when working with more advanced file formats or operations. Careful 
                attention must be paid to the code to ensure that files are handled properly and securely.
4. Performance : File handling operations in Python can be slower than other programming languages, especially when dealing with large 
                 files or performing complex operations.

In [ ]:
#Reading file

file = open("geeks.txt", "r")
content = file.read()
print(content)
file.close()

In [ ]:
file = open("geeks.txt", "rb")
content = file.read()
print(content)
file.close()

In [ ]:
#Writing to a file

file = open("geeks.txt", "w")
file.write("Hello, World!")
file.close()

In [ ]:
# Python code to illustrate append() mode
file = open('geek.txt', 'a')
file.write("This will add this line")
file.close()

In [ ]:
#Closing a file

file = open("geeks.txt", "r")
# Perform file operations
file.close()

In [ ]:
with open("geeks.txt", "r") as file:
    content = file.read()
    print(content)

In [ ]:
try:
    file = open("geeks.txt", "r")
    content = file.read()
    print(content)
finally:
    file.close()